body {
  font-family: 'Arial';
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.circle {
  border-radius: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.triangle {
  position: absolute;
  top: -63px;
  right: -55px;
  display: none;
  width: 0;
  height: 0;
  content: '';
  cursor: auto;
  border-top: 75px solid transparent;
  border-right: 50px solid white;
  border-bottom: 75px solid transparent;
}
@media (max-width: 768px) {
  .triangle {
    opacity: 0;
  }
}
.o-sidebar {
  font-weight: 100;
  position: relative;
  overflow: hidden;
  min-width: 360px;
  height: 100vh;
  background: url('../img/arh.png');
  background-position: center;
  background-size: cover;
}
.o-sidebar:before {
  position: absolute;
  width: 100%;
  height: 100vh;
  content: '';
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
}
.o-sidebar .about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.o-sidebar .about-me .avatar {
  min-width: 100px;
  min-height: 100px;
  margin-bottom: 30px;
  border: 2px solid #fff;
  background: url('../img/iam.png');
  background-position: center;
  background-size: 100%;
  border-radius: 100%;
}
.o-sidebar .about-me .text {
  font-size: 18px;
  text-align: right;
  color: #fff;
}
@media (max-width: 768px) {
  .o-sidebar {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 360px;
    height: 100vh;
    margin-left: -100%;
    transition: 1s;
  }
}
@media (max-width: 425px) {
  .o-sidebar {
    width: 80%;
  }
}
.o-half-top,
.o-half-bottom {
  position: relative;
  height: calc(50% - 10px);
  display: flex;
  flex-direction: column;
}
.o-half-top.title,
.o-half-bottom.title,
.o-half-top.text,
.o-half-bottom.text {
  font-weight: 100;
  flex-direction: row;
  padding: 0 20px;
  text-align: justify;
}
.o-half-top {
  justify-content: flex-end;
}
.o-half-top .about-me {
  padding: 0 20px;
}
.o-half-top.title {
  font-size: 60px;
  line-height: 50px;
  align-items: flex-end;
  justify-content: flex-start;
}
.o-half-bottom {
  margin-top: 20px;
}
.o-half-bottom .o-menu {
  font-size: 18px;
  padding: 0 20px;
  color: #fff;
}
.o-half-bottom .o-menu .item {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  transition: .3s;
  text-align: right;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.o-half-bottom .o-menu .item.enable:after {
  position: absolute;
  top: -63px;
  right: -55px;
  display: none;
  width: 0;
  height: 0;
  content: '';
  cursor: auto;
  border-top: 75px solid transparent;
  border-right: 50px solid white;
  border-bottom: 75px solid transparent;
}
@media (max-width: 768px) {
  .o-half-bottom .o-menu .item.enable:after {
    opacity: 0;
  }
}
.o-half-bottom .o-menu .item.enable,
.o-half-bottom .o-menu .item:hover {
  border-bottom-color: #fff;
}
.o-half-bottom .o-menu .item.enable:after {
  display: block;
}
.o-content {
  position: relative;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.o-content .o-slide {
  position: relative;
  height: 100vh;
}
.o-content .o-slide .v-btn {
  position: absolute;
  display: flex;
  cursor: pointer;
  transition: .3s;
  border: 1px solid #000;
}
.o-content .o-slide .v-btn.scroll-down {
  bottom: 10px;
  left: calc(50% - 40px);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
.o-content .o-slide .v-btn.scroll-down:hover svg line {
  stroke: #000;
}
.o-content .o-slide .v-btn.slider-controls {
  right: 10px;
  width: 101px;
  height: 50px;
  background: #fff;
  box-shadow: 20px 0 0 #fff;
}
.o-content .o-slide .v-btn.slider-controls:after {
  position: absolute;
  top: 0;
  left: 50px;
  width: 1px;
  height: 100%;
  content: '';
  background: #000;
}
.o-content .o-slide .v-btn.slider-controls:before {
  position: absolute;
  left: -51px;
  display: block;
  width: 50px;
  height: 100%;
  content: '';
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #ffffff);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #ffffff);
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffff);
}
.o-content .o-slide .v-btn.slider-controls .prev-btn:hover svg line,
.o-content .o-slide .v-btn.slider-controls .next-btn:hover svg line {
  stroke: #000;
}
.o-content .o-slide .slides-titles {
  display: flex;
  transition: .5s;
  align-items: flex-end;
}
.o-content .o-slide .slides-titles div {
  font-size: 40px;
  line-height: 40px;
  padding-right: 20px;
  white-space: nowrap;
  opacity: 0;
}
.o-content .o-slide .slides-titles div:nth-child(1) {
  font-size: 60px;
  line-height: 50px;
  opacity: 1;
}
.o-content .o-slide .slides-titles div:nth-child(2) {
  opacity: .5;
}
.o-content .o-slide .portfolio-slider {
  display: flex;
  height: 100%;
  transition: .5s;
}
.o-content .o-slide .portfolio-slider .slide {
  position: relative;
  overflow: hidden;
  min-width: calc(50vw - 180px);
  cursor: pointer;
  transition: .5s;
  background-position: center !important;
  background-size: cover !important;
}
@media (max-width: 1024px) {
  .o-content .o-slide .portfolio-slider .slide {
    min-width: 360px;
  }
}
.o-content .o-slide .portfolio-slider .slide.your-site {
  font-size: 30px;
  font-weight: 100;
  display: flex;
  width: 180px !important;
  min-width: 180px !important;
  padding: 0 60px 0 20px;
  cursor: default;
  align-items: center;
}
.o-content .o-slide .portfolio-slider .slide.deshevo:before,
.o-content .o-slide .portfolio-slider .slide.iphonestrade:before {
  font-size: 20px;
  font-weight: 100;
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  padding-top: 7px;
  padding-left: 10px;
  transition: .2s;
  color: #fff;
}
.o-content .o-slide .portfolio-slider .slide.iphonestrade {
  background: url('../img/iphonestrade.jpg');
}
.o-content .o-slide .portfolio-slider .slide.iphonestrade:before {
  top: -90px;
  height: calc(100% + 90px);
  content: 'Сайт для студии Arktic';
  background: rgba(135, 106, 74, 0.75);
}
.o-content .o-slide .portfolio-slider .slide.deshevo {
  background: url('../img/качели.png');
}
.o-content .o-slide .portfolio-slider .slide.deshevo:before {
  top: -80px;
  height: calc(180%);
  content: 'Сайт для белорусской компании';
  background: rgba(188, 221, 195, 0.75);
}
.o-content .o-slide .portfolio-slider .slide.js-select-slide:before {
  top: calc(100% - 40px);
}
.o-content .o-slide .v-contacts-link {
  position: relative;
  width: 75px;
  max-width: 15vw;
  height: 75px;
  max-height: 15vw;
  margin: 0 10px;
  background-size: cover !important;
  border-radius: 100%;
}
.o-content .o-slide .v-contacts-link:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  transition: .3s;
  background: rgba(255, 255, 255, 0.1);
}
.o-content .o-slide .v-contacts-link#fb {
  background: url('../img/facebook.png');
}
.o-content .o-slide .v-contacts-link#vk {
  background: url('../img/vk.png');
}
.o-content .o-slide .v-contacts-link#telegram {
  background: url('../img/telegram.png');
}
.o-content .o-slide .v-contacts-link#email {
  background: url('../img/email.png');
}
@media (max-width: 768px) {
  .menu-burger {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.75;
  }
  .menu-burger .line {
    position: relative;
    width: 100%;
    min-height: 7px;
    margin: auto;
    transition: .3s;
    border-radius: 10px;
    background-color: #ccc;
  }
  .menu-burger.close .line:nth-child(1) {
    top: 13px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  .menu-burger.close .line:nth-child(2) {
    opacity: 0;
  }
  .menu-burger.close .line:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .dark {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: #000;
  }
}
