* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	display: flex;
	overflow-y: hidden;
	min-width: 640px;
	min-height: 480px;
	font-family: 'Arial';
	min-width: 920px;
}

a {
	display: inline-block;
}

.o-sidebar {
	min-width: 360px;
	overflow: hidden;
	font-weight: 100;
	position: relative;
	background: url('../img/arh.png');
	background-size: cover;
	background-position-x: center;
}

.o-sidebar:before {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.v-sidebar__background-shadow {
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
}

.o-half-top,
.o-half-bottom {
	height: calc(50% - 10px);
	display: flex;
	flex-direction: column;
}

.o-half-top {
	justify-content: flex-end;
	position: relative;
	overflow: hidden; 
}

.o-half-bottom {
	margin-top: 20px;
	position: relative;
}

.v-sidebar__about-me {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.v-about-me__avatar {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 2px solid #fff; 
	margin-bottom: 30px;
}

.v-about-me__text {
	color: #fff;
	font-size: 18px;
	text-align: right;
}

.o-half-bottom > .o-menu,
.o-half-top > .v-sidebar__about-me {
	padding: 0 5%;
}

.o-menu {
	color: #fff;
	font-size: 18px;
}

.v-menu__item {
	text-align: right;
	cursor: pointer;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: .3s;
	position: relative;
}

.v-menu__item:hover,
.v-menu__item.enable {
	border-bottom-color: #fff;
}

.v-menu-item__triangle {
	position: absolute;
	top: -63px;
    right: -55px;
    border-top: 75px solid transparent;
    border-right: 50px solid white;
    border-bottom: 75px solid transparent;
    display: none;
    cursor: auto;
}

.v-menu__item.enable > .v-menu-item__triangle {
	display: inline-block;
}

.o-content {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: hidden;
	background: #fff;
}

.o-half-top.title,
.o-half-bottom.text {
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 100;
}

.o-half-top.title {	
	font-size: 60px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;
}

.o-half-bottom.text {
	font-size: 18px;
	flex-direction: row;
}

.v-btn {
	position: absolute;
	bottom: 10px;
	height: 60px;
	width: 60px;
	border: 1px solid #545454;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .3s;
}

.v-btn:hover {
	border-color: #000
}

.v-btn:hover  > svg > line {
	stroke: #000;
}

.v-btn.scroll-down {
	left: calc(50% - 40px);
	border-radius: 1000px;	
}

.o-slide {
 	height: 100vh;
 	position: relative;
}

.v-contacts-link  {
  	width: 75px;
  	height: 75px;
  	margin: 0 10px;
  	border-radius: 100px;
  	position: relative;
  	overflow: hidden;
}

.v-contacts-link > img {
	width: 75px;
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
}

.link-light-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .3s;
}

.v-contacts-link:hover > .link-light-img {
	background-color: rgba(255, 255, 255, 0.1);
}

.portfolio-slider {
	flex-flow: row nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	top: 0;
	transition: .5s;
	height: 100%;
	display: flex;
	position: absolute;
}

.slide {
	height: 100%;
	min-width: calc(50vw - 180px);
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position-x: center !important;
	background-position-y: center !important;
	cursor: pointer;
	transition: .5s;
}

.iphonestrade {
	background: url('../img/iphonestrade.jpg');
}

.deshevo {
	background: url('../img/качели.png'); 
}

.iphonestrade:before {
	background-color: rgba(135, 106, 74, 0.75);
    top: -90px;
    height: calc(100% + 90px);
    content: 'Сайт для студии Arktic';
}

.deshevo:before {
	background-color: rgba(188,221,195, 0.75);
    top: -80px;
    height: calc(100% + 80px);
    content: 'Сайт для белорусской компании';
}

.deshevo:before,
.iphonestrade:before {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    transition: .2s;
    padding-top: 7px;
    padding-left: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
}

.your-site {
    font-size: 30px;
    font-weight: 100;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: default;
    padding: 0 60px 0 20px;
    min-width: 180px;
    width: 180px;
}

.slider-controls {
	width: 101px;
	height: 50px;
	border: 1px solid #000;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    right: 10px;
    background-color: #fff;
    box-shadow: 20px 0 0px #fff;
}

.slider-controls:after {
	content: '';
	position: absolute;
	width: 1px;
	background-color: #000;
	height: 100%;
	left: 50px;
	top: 0;
}

.slider-controls:before {
	content: '';
	display: block;
	position: absolute;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255));
	width: 50px;
	height: 100%;
	left: -51px;
}

.prev-btn,
.next-btn {
	height: 100%;
	cursor: pointer;
	position: relative;
}

.prev-btn:before,
.next-btn:before {
	height: 100%;
	width: 100%;
	position: absolute;
	content: '';
	background-color: rgba(255, 255, 255, 0.5);
	display: block;
	transition: .3s;
	opacity: 1;
}

.prev-btn:hover:before,
.next-btn:hover:before {
	opacity: 0;
}

.slides-titles {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	position: absolute;
	transition: .5s;
}

.slides-titles:after {
	content: '';
	position: absolute;
	width: 10px;
	background-color: #fff;
	right: -10px;
	height: 100%;
}

.slides-titles > div:nth-child(1) {
	font-size: 60px;
	line-height: 50px;
	opacity: 1;
}

.slides-titles > div:nth-child(2) {
	opacity: 0.5;
}

.slides-titles > div {
	font-size: 40px;
	line-height: 40px;
	white-space: nowrap;
	padding-right: 20px; 
	opacity: 0;
}

.portfolio-slider > .js-select-slide:before {
	top: calc(100% - 40px);
}