* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	display: flex;
	overflow-y: hidden;
	min-width: 640px;
	min-height: 480px;
	font-family: 'Arial';
	min-width: 920px;
}

a {
	display: inline-block;
}

.o-sidebar {
	min-width: 360px;
	overflow: hidden;
	font-weight: 100;
	position: relative;
	background: url('../img/arh.png');
	background-size: cover;
	background-position-x: center;
}

.o-sidebar:before {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.v-sidebar__background-shadow {
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
}

.o-half-top,
.o-half-bottom {
	height: calc(50% - 10px);
	display: flex;
	flex-direction: column;
}

.o-half-top {
	justify-content: flex-end;
	position: relative;
}

.o-half-bottom {
	top: 50%;
	margin-top: 20px;
}

.v-sidebar__about-me {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.v-about-me__avatar {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 2px solid #fff; 
	margin-bottom: 30px;
}

.v-about-me__text {
	color: #fff;
	font-size: 18px;
	text-align: right;
}

.o-half-bottom > .o-menu,
.o-half-top > .v-sidebar__about-me {
	padding: 0 5%;
}

.o-menu {
	color: #fff;
	font-size: 18px;
}

.v-menu__item {
	text-align: right;
	cursor: pointer;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: .3s;
	position: relative;
}

.v-menu__item:hover,
.v-menu__item.enable {
	border-bottom-color: #fff;
}

.v-menu-item__triangle {
	position: absolute;
	top: -63px;
    right: -55px;
    border-top: 75px solid transparent;
    border-right: 50px solid white;
    border-bottom: 75px solid transparent;
    display: none;
    cursor: auto;
}

.v-menu__item.enable > .v-menu-item__triangle {
	display: inline-block;
}

.o-content {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: hidden;
	background: #fff;
}

.o-half-top.title,
.o-half-bottom.text {
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 100;
}

.o-half-bottom.text {
	font-size: 18px;
	flex-direction: row;
}

.o-half-top.title {	
	font-size: 60px;
	line-height: 50px;
}

.o-slide {
 	height: 100vh;
 	position: relative;
}

.v-contacts-link  {
  	width: 75px;
  	height: 75px;
  	margin: 0 10px;
  	border-radius: 100px;
  	position: relative;
  	overflow: hidden;
}

.v-contacts-link > img {
	width: 75px;
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
}

.link-light-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .3s;
}

.v-contacts-link:hover > .link-light-img {
	background-color: rgba(255, 255, 255, 0.1);
}

.my-works-slider {
	flex-flow: row nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	top: 0;
}

.size-4-4 {
	height: 100%;
	width: 50%;
	display: flex;
	flex-flow: row wrap;
}

.size-2-4 {
	height: 50%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.size-1-4 {
	height: 100%;
	width: 50%;
}

.slide-to-left,
.slide-to-right {
	position: absolute;
	top: 0;
	width: 10%;
	max-width: 80px;
	height: 100%;
	cursor: pointer;
	display: flex;
	display: none;
}

.slide-to-left {
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

.slide-to-right {
	right: 0;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
}

.fig-triangle-left,
.fig-triangle-right {
	background-color: #00000000;
	width: 40px;
	height: 60px;
	margin: auto;
}

.fig-triangle-right {
	transform: scale(-1, 1);
}

.size-4-4,
.size-2-4,
.size-1-4 {
	position: relative;
	overflow: hidden;
}

.size-4-4,
.size-2-4,
.size-1-4 {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position-x: center !important;
	background-position-y: center !important;
	cursor: pointer;
}

.iphonestrade {
	background: url('../img/iphonestrade.jpg');
}

.deshevo {
	background: url('../img/качели.png'); 
}

.iphonestrade:after {
    display: block;
    background-color: rgba(135, 106, 74, 0.75);
    position: absolute;
    left: 0;
    margin-bottom: 40px;
    width: 100%;
    content: 'iphonestrade.ru';
    transition: .2s;
    padding-top: 10px;
    padding-left: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 100%;
}


.iphonestrade:before {
	background-color: rgba(135, 106, 74, 0.75);
    display: block;
    position: absolute;
    left: 0;
    top: -90px;
    width: 100%;
    height: calc(100% + 90px);
    content: 'Сайт для студии Arktic';
    transition: .2s;
    padding-top: 7px;
    padding-left: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
}

.iphonestrade:hover:after {
	bottom: 0;
}

.iphonestrade:hover:before {
	top: calc(100% - 40px);
}

.deshevo:after {
    display: block;
	background-color: rgba(188,221,195, 0.75);
    position: absolute;
    left: 0;
    margin-bottom: 40px;
    width: 100%;
    content: 'садовые-качели.дёшево.бел';
    transition: .2s;
    padding-top: 10px;
    padding-left: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    bottom: 100%;
}

.deshevo:before {
	background-color: rgba(188,221,195, 0.75);
    display: block;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
    height: calc(100% + 80px);
    content: 'Сайт для белорусской компании';
    transition: .2s;
    padding-top: 7px;
    padding-left: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
}

.deshevo:hover:after {
	bottom: 0;
}

.deshevo:hover:before {
	top: calc(100% - 40px);
}

.your-site {
	justify-content: center;
	font-size: 30px;
	font-weight: 100;
	padding-top: 16%;
	background-color: #f9f9f9;
}