body {
	display: flex;
	font-family: 'Arial';
	padding: 0;
	margin: 0;
}

.circle {
	border-radius: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.triangle {
	position: absolute;
	top: -63px;
	right: -55px;
	border-top: 75px solid transparent;
	border-right: 50px solid white;
	border-bottom: 75px solid transparent;
	display: none;
	cursor: auto;
	content: '';
	height: 0;
	width: 0;
	@media (max-width: 980px) {
		transform: rotate(90deg);
		margin: 0 auto;
		top: -17px;
		left: 0;
		right: 0;
	}
}

.o-sidebar {
	min-width: 360px;
	overflow: hidden;
	font-weight: 100;
	background: url('../img/arh.png');
	background-size: cover;
	background-position: center;

	&:before {
		background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
		background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.about-me {
		.flex-column;
		align-items: flex-end;

		.avatar {
			min-width: 100px;
			min-height: 100px;
			.circle;
			border: 2px solid #fff;
			margin-bottom: 30px;
			background: url('../img/iam.png');
			background-position: center;
			background-size: 100%;
			@media (max-width: 980px) {
				margin-bottom: 0;
				margin-right: 20px;
			}
		}

		.text {
			color: #fff;
			font-size: 18px;
			text-align: right;
			@media (max-width: 980px) {
				text-align: left;
				font-size: 25px;
			}
		}

		@media (max-width: 980px) {
			flex-direction: row;
			align-items: center;
			padding: 10px 100px !important;
		}
	}

	@media (max-width: 980px) {
		position: absolute;
		width: 100vw;
		left: 0;
		right: 0;
		z-index: 1;

		.o-half-top, .o-half-bottom {
			height: unset;
		}
	}
}

.o-half-top,
.o-half-bottom {
	.flex-column;
	position: relative;
	height: ~"calc(50% - 10px)";

	&.title,
	&.text {
		padding: 0 20px;
		font-weight: 100;
		flex-direction: row;
	}
}

.o-half-top {
	justify-content: flex-end;

	.about-me {
		padding: 0 20px;

		@media (max-width: 980px) {
			padding: 0;
		}
	}

	&.title {
		font-size: 60px;
		line-height: 50px;
		align-items: flex-end;
		justify-content: flex-start;
	}
}

.o-half-bottom {
	margin-top: 20px;

	&.text {
		@media (max-width: 980px) {
			font-size: 25px;
		}
	}

	.o-menu {
		padding: 0 20px;
		color: #fff;
		font-size: 18px;

		.item {
			text-align: right;
			cursor: pointer;
			margin-bottom: 5px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			transition: .3s;
			position: relative;

			&.enable:after {
				.triangle;
			}

			&.enable, &:hover {
				border-bottom-color: #fff;
			}

			&.enable:after {
				display: block;
			}

			@media (max-width: 980px) {
				padding: 0 20px;
				font-size: 20px;
				font-weight: 500;
			}
		}


		@media (max-width: 980px) {
			display: flex;
			justify-content: space-between;
			padding: 0 100px 20px;
		}
	}
}

.o-content {
	height: 100%;
	position: relative;
	.flex-column;
	flex-grow: 1;
	overflow: hidden;
	background: #fff;

	.o-slide {
 		height: 100vh;
 		position: relative;

 		.v-btn {
			position: absolute;
			border: 1px solid #000;
			display: flex;
			cursor: pointer;
			transition: .3s;

			&.scroll-down {
				left: ~"calc(50% - 40px)";
				.circle;
				bottom: 10px;
				height: 60px;
				width: 60px;
				justify-content: center;
				align-items: center;

				&:hover svg line {
					stroke: #000;
				}
			}

			&.slider-controls {
				width: 101px;
				height: 50px;
				right: 10px;
				background: #fff;
				box-shadow: 20px 0 0px #fff;

				&:after {
					content: '';
					position: absolute;
					width: 1px;
					background: #000;
					height: 100%;
					left: 50px;
					top: 0;
				}

				&:before {
					content: '';
					display: block;
					position: absolute;
					background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(255, 255, 255));
					background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgb(255, 255, 255));
					background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255));
					width: 50px;
					height: 100%;
					left: -51px;
				}

				.prev-btn,
				.next-btn {

					&:hover svg line {
						stroke: #000;
					}
				}
			}
		}

		.slides-titles {
			display: flex;
			align-items: flex-end;
			transition: .5s;

			div {
				font-size: 40px;
				line-height: 40px;
				white-space: nowrap;
				padding-right: 20px;
				opacity: 0;

				&:nth-child(1) {
					font-size: 60px;
					line-height: 50px;
					opacity: 1;
				}

				&:nth-child(2) {
					opacity: 0.5;
				}
			}
		}

		.portfolio-slider {
			transition: .5s;
			height: 100%;
			display: flex;

			.slide {
				min-width: ~"calc(50vw - 180px)";
				position: relative;
				overflow: hidden;
				background-size: cover !important;
				background-position: center !important;
				cursor: pointer;
				transition: .5s;

				@media (max-width: 980px) {
					min-width: 60vw;
				}

				&.your-site {
					font-size: 30px;
					font-weight: 100;
					display: flex;
					align-items: center;
					cursor: default;
					padding: 0 60px 0 20px;
					min-width: 180px !important;
					width: 180px !important;
				}

				&.deshevo,
				&.iphonestrade {
					&:before {
						display: block;
						position: absolute;
						left: 0;
						width: 100%;
						transition: .2s;
						padding-top: 7px;
						padding-left: 10px;
						color: #fff;
						font-weight: 100;
						font-size: 20px;
					}
				}

				&.iphonestrade {
					background: url('../img/iphonestrade.jpg');

					&:before {
						background: rgba(135, 106, 74, 0.75);
						top: -90px;
						height: ~"calc(100% + 90px)";
						content: 'Сайт для студии Arktic';
					}
				}

				&.deshevo {
					background: url('../img/качели.png');

					&:before {
						background: rgba(188,221,195, 0.75);
						top: -80px;
						height: calc(100% + 80px);
						content: 'Сайт для белорусской компании';
					}
				}

				&.js-select-slide:before {
					top: ~"calc(100% - 40px)";
				}
			}
		}

		.v-contacts-link {
			width: 75px;
			height: 75px;
			margin: 0 10px;
			.circle;
			position: relative;
			background-size: cover !important;

			&:hover:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: .3s;
				content: '';
				background: rgba(255, 255, 255, 0.1);
			}

			&#fb {
				background: url('../img/facebook.png');
			}

			&#vk {
				background: url('../img/vk.png');
			}

			&#telegram {
				background: url('../img/telegram.png');
			}

			&#email {
				background: url('../img/email.png');
			}
		}
	}
}