body {
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	min-width: 996px;
}

* {
	font-family: 'Arial';
}

.top_menu {
	height: 50px;
	width: 100%;
	background-color: #080021;
	color: #fff;
}

.top_menu * {
	display: inline-block;
	float: left;
}

input[name="search"] {
	height: 30px;
	margin: 10px 10px 10px 10px;
	border: 0;
	border-radius: 10px;
	font-size: 20px;
	padding: 0 7px 0 7px;
	width: 200px;
	transition: 0.3s;
}

.switch_list {
	width: 50px;
	height: 43px;
	padding-top: 7px;
	cursor: pointer;
	position: fixed;
}

.switch_list div {
	height: 5px;
	width: 40px;
	background-color: #fff;
	margin: 5px 5px 0 5px;
}

.switch_list:hover {
	background-color: #636363;
}

.path_title {
	margin-left: 70px;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	transition: 0.3s;
}

.button {
	border: none;
	background-color: #008000;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	margin-top: 5.5px;
	margin-right: 5px;
	float: right;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
}

.button:hover {
	background-color: #00ad00;
}

.work_area {
	height: calc(100% - 50px);
}

.device_list {
	width: 234px;
	height: 100%;
	background-color: #d8d8d8;
	transition: 0.3s;
	overflow-y: auto;
	display: inline-block;
	float: left;
}

.device_block {
	height: 50px;
	border-bottom: 1px solid #c3c3c3;
	cursor: pointer;
	line-height: 50px;
	padding-left: 20px;
	color: rgba(0, 0, 0, 0.46);
}

.device_block:hover {
	background-color: #f3f3f3;
}

.work_display {
	background-color: #efefef;
	display: inline-block;
	float: left;
	transition: 0.3s;
	height: 100%;
	width: calc(100% - 234px);
	overflow-x: auto;
	overflow-y: hidden;
}

.select {
	background-color: #fbfbfb;
	color: #7260ff !important;
    font-weight: bold;
}

.online  {
	font-weight: bold;
	color: #1ba540;
}

.workpanel {
	margin: 20px;
	height: calc(100% - 40px);
	display: inline-block;
	width: calc(100% - 40px);
	background-color: #fff;
}

.background {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}

.user_list_window {
	background-color: #fff;
	width: 50%;
	position: absolute;
	top: 0;
	display: none;
	margin: 50px 0 10% 0;
}

.title {	
	line-height: 60px;
	font-size: 25px;
	padding-left: 30px;
}

/*стили таблицы пользователей*/

table {
  	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  	border-collapse: collapse;
  	color: #686461;    
  	width: calc(100% - 160px);
    margin: 40px 80px 40px 80px;
}

th {
  	border-bottom: 3px solid #B9B29F;
  	padding: 10px;
  	text-align: left;
}

td {
  	padding: 10px;
}

tr:nth-child(odd) {
  	background: white;
}

tr:nth-child(even) {
  	background: #d8d8d8;
}

.halfwindow {
	height: 250px;
}

.full {
	width: 100%;
}

.control_panel {
	
}