#slider {
	position: relative;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
#slider-container {
	text-align: center;
	margin: 0 auto;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
#slider-control--left,
#slider-control--right {
	z-index: 1;
	position: absolute;
	display: inline-block;
	user-select: none;
	top: calc(50% - 45px);
	height: 90px;
}
#slider-control--right {
	right: 0;
}

.hexaflip-side:nth-child(5),
.hexaflip-side:nth-child(6) {
	background-color: transparent !important;
}