main {
	flex: 1 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;

	.breadcrumbs {
		font-size: .8em;
		color: #005c8b;
	}

	aside {
		min-width: 20%;
		align-self: baseline;
		padding: 15px;
		border: 3px solid #005c8b;
		border-radius: 10px;

		.title {
			font-weight: 700;
		}

		.ribrics-block {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: column;

			a {
				&:hover {
					color: #005c8b;
				}
			}
		}
	}

	section {
		article {
			padding: 15px;
			text-align: justify;
			display: block;

			img {
				max-width: 50%;
				align-self: baseline;
				margin: 15px;
				float: left;
			}

			p {
				margin: 0;
				padding: 0 15px;
			}
		}
	}
}