@corporative-color-top: #328dc3;
@corporative-color-bottom: #1a5e9f;

body {
	font-family: Arial;
}

header {
	background: linear-gradient(to bottom, @corporative-color-top, @corporative-color-bottom);

	menu {
		width: 1200px;
		list-style-type: none;
		color: #fff;

		a,
		#burger-menu,
		#search-button {
			transition: .3s;
			cursor: pointer;

			span {
				position: absolute;
				padding: 10px;
				top: 100%;
			}

			&:hover {
				background: @corporative-color-top;
			}
		}

		#burger-menu {
			display: flex;
			flex-direction: column;
			justify-content: center;

			div {
				height: 3px;
				width: 30px;
				background: #fff;
				margin: 1.5px 10px;
				border-radius: 3px;
			}

			span {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			}
		}

		> li > a {
			display: inline-block;
			text-decoration: none;
			color: unset;
			outline: none !important;
			padding: 10px;

			&:hover {
				text-decoration: none;
				color: unset;
			}
		}

		#search-button {
			width: 50px;
			position: relative;

			div:nth-child(1) {
				width: 20px;
				height: 20px;
				border: 3px solid #fff;
				border-radius: 100%;
				top: ~'calc(50% - 10px)';
				left: ~'calc(50% - 10px)';
				position: absolute;
			}

			div:nth-child(2) {
				width: 3px;
				height: 9px;
				background: #fff;
				position: absolute;
				top: ~'calc(50% + 4px)';
				left: ~'calc(50% + 6px)';
				transform: rotate(-45deg);
				border-radius: 3px;
			}

			span {
				background: @corporative-color-top;
				right: 0;
			}
		}
	}
}

