menu,
menu ul,
menu li
	margin: 0
	margin-block-start: 0
	margin-block-end: 0
	padding: 0
	list-style: none

menu
	display: flex
	justify-content: space-around

	a
		padding: 1em .5em
		display: block

a
	color: unset

h1, h2, h3, h4, h5, h6,
p
	margin: 0
	line-height: 1em

body
	min-height: 100vh
	font-family: Arial
	color: #3a3a3a
	margin: 0
	display: flex
	flex-direction: column
	justify-content: space-between

	.inner
		max-width: 1200px
		width: 100%

	header,
	footer
		a
			text-decoration: none

	header,
	main,
	footer
		display: flex
		align-items: center
		justify-content: space-between
		flex-direction: column

	header
		border-bottom: 3px solid #005c8b
		background: #fff

		.header-top
			display: flex
			align-items: center
			color: #005c8b
			text-align: center
			text-transform: uppercase
			justify-content: center
			margin: 20px 0 5px

			div div
				font-size: 1.27em
				line-height: 1.25em

			img
				height: 7em
				margin: 0 1.5em

		menu
			width: 100%
			position: relative

			> li
				transition: .3s

				a:hover
					color: #005c8b

				> a
					padding: 1.5em .5em


				&:hover
					> a
						color: #005c8b

					ul
						left: 0
						opacity: 1

				ul
					display: grid
					left: -100vw
					position: absolute
					max-width: calc(1200px - 3em)
					width: 100%
					padding: 1.5em
					grid-template-columns: repeat(5, 1fr)
					grid-gap: 2em 0
					align-items: center
					box-shadow: 0 10px 30px 0 rgba(1, 46, 154, .15)
					border-bottom-left-radius: 4px
					border-bottom-right-radius: 4px
					transition: opacity .3s
					opacity: 0

					&:after
						left: 100%

					&:before
						right: 100%

					li
						padding: 0 .75em

						a
							padding: .25em
							display: block

	footer
		background: #005c8b
		color: #fff
		transition: .3s

		a:hover
			color: #bee9ff

		menu
			border-bottom: 1px solid #fff

		.footer-bottom
			display: grid
			grid-template-columns: repeat(3, 1fr)
			padding: 15px
			font-size: .85em

			.copyright
				display: flex
				text-transform: uppercase
				text-align: center
				align-items: center

				img
					height: 3.5em
					margin: 0 1em

				div
					font-size: .99em

			.contact
				display: flex
				justify-content: center
				flex-direction: column

			.more
				display: flex
				align-items: center
				justify-content: space-between

				a:hover
					text-decoration: underline