@font-face{
	font-family: 'Myriad Pro Semibold';
	src: url(../fonts/MyriadPro/MyriadPro-Semibold.eot) format('eot'),
		url(../fonts/MyriadPro/MyriadPro-Semibold.ttf) format('truetype'),
		url(../fonts/MyriadPro/MyriadPro-Semibold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'Myriad Pro SemiCn';
	src: url(../fonts/MyriadPro/MyriadPro-SemiCn.eot) format('eot'),
		url(../fonts/MyriadPro/MyriadPro-SemiCn.ttf) format('truetype'),
		url(../fonts/MyriadPro/MyriadPro-SemiCn.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}

a,
a:hover {
	text-decoration: none;
}

header,
article {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.slider_control--left,
.slider_control--right {
	margin: auto 30px;
	width: 40px;
	height: 40px;
	z-index: 1;
	position: absolute;
	border-radius: 100%;
	top: 0;
	bottom: 0;
	background-color: #fff;
	cursor: pointer;

	&:before {
		background: rgba(255, 255, 255, 0.6);
		border-radius: 100%;
		width: 60px;
		height: 60px;
		position: absolute;
		left: -10px;
		top: -10px;
		content: '';
	}

	&:after {
		background: url(../img/arrow.svg);
		background-size: 20%;
		background-repeat: no-repeat;
		background-position: center;
		content: '';
		width: 40px;
		height: 40px;
		position: absolute;
	}
}

.slider_control--left {
	left: 0;
}

.slider_control--right {
	right: 0;

	&:after {
		transform: rotate(180deg);
	}
}

header {
	position: relative;

	.extended_block {
		position: absolute;
		top: 15px;
		right: 15px;
		display: flex;

		.extended_block--inner {
			width: 40px;
			height: 40px;
			box-shadow: 1px 1px 4px 1px #313131;
			border-radius: 100%;
			margin-left: 8px;
			background-size: 70%;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;

			&#instagram {
				background-image: url(../img/instagram.png);
			}

			&#vk {
				background-image: url(../img/vk.png);
			}

			&#eye {
				background-image: url(../img/eyeball.png);
			}

			&#search {
				background-image: url(../img/search.png);
			}
		}
	}

	.main_title {
		padding: 15px 0;
		display: flex;
		justify-content: center;
		align-items: center;

		.logo {
			background-image: url(../img/primray_logo_90year.png);
			width: 130px;
			height: 160px;
			background-size: 100%;
		}

		.title {
			color: #005c8b;
			font-size: 30px;
			text-align: center;
			margin-left: 30px;
			line-height: 1.25;
			font-family: 'Myriad Pro Semibold'
		}
	}

	menu {
		display: flex;
		justify-content: space-around;
		padding: 10px 8px;
		font-family: 'Myriad Pro SemiCn';
		font-size: 20px;

		li {
			list-style-type: none;
			cursor: pointer;
			color: #585858;
			transition: .3s;

			&:hover {
				color: lighten(#585858, 20%);
			}
		}
	}
}

article {
	display: flex;
	justify-content: center;

	.title {
		font-family: 'Myriad Pro Semibold' !important;
		font-size: 30px !important;
		text-align: center;
		margin: 30px 0;
		position: relative;
		line-height: 1;
		color: #005c8b;

		*:after {
			left: ~'calc(50% - 120px)';
			content: '';
			bottom: -15px;
			width: 240px;
			height: 3px;
			background: #333;
			position: absolute;
		}

		a {
			transition: .3s;
			color: #005c8b;

			&:hover {
				color: lighten(#005c8b, 20%);
			}
		}
	}
}

article.main_news {
	position: relative;

	.main_news--block {
		width: 100%;

		img {
			width: 100%;
		}

		.main_news--title {
			padding: 15px;
			color: #333;
			font-size: 20px;
			text-align: center;
			position: absolute;
			bottom: 0;
			background: rgba(255, 255, 255, 0.6);
			width: 100%;
		}
	}
}

article.all_news {
	flex-direction: column;

	.row {
		margin: 0;
	}

	.news-item {
		margin: 15px 0;

		a {
			display: block;
			font-family: 'Myriad Pro SemiCn';
			color: #333;
			font-size: 20px;
			line-height: 1;
			text-align: center;
			transition: .3s;

			&:hover {
				color: lighten(#333, 20%);
			}

			img {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
}

.rubrics {
	background: #f2f2f2;
	flex-direction: column;
	border: 1px solid #b8b9b9;

	.ribrics-block {
		display: flex;
		max-width: 100%;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		a {
			display: block;
			font-family: 'Myriad Pro SemiCn';
			color: #333;
			font-size: 30px;
			line-height: 1;
			text-align: center;
			transition: .3s;
			margin: 20px;

			&:hover {
				color: lighten(#333, 20%);
			}
		}
	}
}

.events {

}

.photo {
	background: #f2f2f2;
	flex-direction: column;
	border: 1px solid #b8b9b9;

	.photo_slider {
		position: relative;
		display: flex;
		padding: 10px 10px 30px;

		.photo_slider--block {
			margin: 0 10px;
			width: ~'calc(33% - 15px)';

			img {
				width: 100%;
			}
		}
	}
}