menu,
menu ul,
menu li
	margin: 0
	margin-block-start: 0
	margin-block-end: 0
	padding: 0
	list-style: none

menu
	display: flex
	justify-content: space-around

	ul
		background: #fff
		border-top: 3px solid #005c8b

	a
		padding: 1em .5em
		display: block

a
	color: unset

h1, h2, h3, h4, h5, h6,
p
	margin: 0
	line-height: 1em

body
	min-height: 100vh
	font-family: Arial
	color: #3a3a3a
	margin: 0
	display: grid
	grid-template-rows: auto 1fr auto

	.inner
		max-width: 1200px
		width: 100%
		position: relative

	header,
	footer,
	.link,
	.news,
	.events-list
		a
			text-decoration: none

	.border-bottom
		position: relative

		&:after
			position: absolute
			height: 1px
			width: 100%
			background: #e4e4e4
			bottom: 0
			left: 0
			content: ""

	.events,
	.docs
		padding: 3em 0 0 0

	.title
		display: grid
		grid-template-columns: 1fr auto auto
		grid-gap: 2em
		align-items: end
		margin-bottom: 20px

		&:after
			bottom: -20px

		input
			display: none

			&:checked + label
				color: #ff2a2a

				&:after
					opacity: 1
					z-index: 1

		h1
			display: inline-block


		.type
			font-weight: 700
			transition: .3s
			padding: 0 .5em
			position: relative
			cursor: pointer

			&:after
				position: absolute
				content: ''
				background: #ff2a2a
				height: 4px
				bottom: -20px
				left: 0
				width: 100%
				opacity: 0
				transition: .3s

			&:hover
				color: #ff2a2a

				&:after
					opacity: 1
					z-index: 1

	header,
	main,
	footer
		display: flex
		align-items: center
		justify-content: space-between
		flex-direction: column

	header
		border-bottom: 3px solid #005c8b
		background: #fff

		.header-top
			display: flex
			align-items: center
			color: #005c8b
			text-align: center
			text-transform: uppercase
			justify-content: center
			margin: 20px 0 5px

			h2
				display: flex
				justify-content: space-between

			div div
				font-size: 1.27em
				line-height: 1.25em

			img
				height: 7em
				margin: 0 1.5em

		menu
			width: 100%
			position: relative
			z-index: 2

			> li
				a:hover
					color: #005c8b

				> a
					padding: 1.5em .5em
					text-align: center


				&:hover
					> a
						color: #005c8b

					ul
						left: 0
						opacity: 1

				ul
					display: grid
					left: -100vw
					position: absolute
					max-width: calc(1200px - 3em)
					width: 100%
					padding: 1.5em
					grid-template-columns: repeat(5, 1fr)
					grid-gap: 2em 0
					align-items: center
					box-shadow: 0 10px 30px 0 rgba(1, 46, 154, .15)
					border-bottom-left-radius: 5px
					border-bottom-right-radius: 5px
					transition: opacity .3s
					opacity: 0

					&:after
						left: 100%

					&:before
						right: 100%

					li
						padding: 0 .75em

						a
							padding: .25em
							display: block

	main
		padding: 3em 15px 0 15px
		overflow-x: hidden

		.link
			text-align: center
			font-weight: 700
			padding: 2em 0 3em

			input
				display: none

			a, label
				display: inline-block
				transition: .3s
				color: #5d5d5d
				position: relative
				cursor: pointer

				&:hover
					color: #ff2a2a

					&:after
						background-image: url('../img/link-red.svg')

				&:after
					position: absolute
					content: ''
					right: -2em
					top: 0
					background-image: url('../img/link.svg')
					background-size: cover
					background-repeat: no-repeat
					background-position: center
					height: 1em
					width: 1em
					transition: .3s

			label
				&:after
					background-image: url('../img/drop-down-list.png')

				&:hover
					&:after
						background-image: url('../img/drop-down-list--red.png')

				#h-more
					display: none

			input:checked + label
				color: #ff2a2a

				&:after
					background-image: url('../img/drop-up-list--red.png')

				#v-more
					display: none

				#h-more
					display: block

		.bkg-gray
			background: #f5f5f5
			position: relative

			&:after,
			&:before
				content: ''
				background: #f5f5f5
				position: absolute
				height: 100%
				width: 50vw
				top: 0
				z-index: -1

			&:after
				left: 100%

			&:before
				right: 100%

		.news
			display: grid
			grid-template-columns: 3fr 2fr
			grid-gap: 3em
			align-items: start

			a
				display: inline-block

				&:hover
					color: #ff2a2a

			.news-date
				color: #5d5d5d
				font-size: .85em

			.news-main
				.news-photo
					width: 100%
					padding-bottom: 56%
					position: relative
					overflow: hidden
					border-radius: 5px

					img
						position: absolute
						left: 0
						top: 0
						width: 100%

				img,
				h1
					font-size: 2em
					transition: .3s

				.news-title
					padding: .45em 0
				&:hover
					img
						transform: scale(1.03)

			.news-list
				margin: -1em 0

				.news-item
					padding: 1em 0
					display: block
					position: relative

					&:not(:last-child)
						content: ''
						border-bottom: 1px solid #e4e4e4

					.news-section
						text-transform: uppercase
						font-size: .85em
						font-weight: 700
						color: #ff2a2a
						position: relative
						padding-left: 1.5em
						display: flex
						align-items: center

						&:after
							content: ''
							position: absolute
							height: .65em
							width: .65em
							background: #ff2a2a
							left: 0
							margin: auto
							border-radius: 100%

					.news-title
						padding: .5em 0
						transition: .3s

		.events
			.events-body
				display: grid
				grid-template-columns: 40% 1fr
				padding: 3em 0 2em
				align-items: start
				grid-gap: 3em

				.calendar,
				.events-item
					background: #fff
					border-radius: 4px

					.calendar-title
						text-align: center
						font-weight: 700
						padding: 1em
						transition: .3s
						position: relative

						.control
							position: absolute
							color: #b5b5b5
							font-weight: 400
							cursor: pointer
							transition: .3s

							&.control-left
								left: 1em

							&.control-right
								right: 1em

							&:hover
								color: #ff2a2a

					.week-days
						text-transform: uppercase
						font-weight: 700
						color: #5d5d5d
						margin-top: .5em

					.week-days,
					.calendar-days
						display: grid
						grid-template-columns: repeat(7, 1fr)
						text-align: center

						div
							padding: .5em 1em

					.calendar-days
						div
							cursor: pointer
							outline-offset: -2px
							transition: .3s
							outline: 2px solid rgba(0, 0, 0, 0)

							&.current,
							&:hover
								outline: 2px solid #ff2a2a
								color: #ff2a2a

				.events-list
					margin: -1em 0
					display: none
					padding: 0

					&.dis-block
						display: block

					.events-item
						background: #fff
						padding: 1em 1em 1em 0
						display: grid
						align-items: center
						grid-template-columns: 15% 1fr
						transition: .3s
						margin: 1em 0

						h3
							transition: .3s

						&:hover
							box-shadow: 0 0 15px 0 rgba(1, 46, 154, .15)

							h3
								color: #ff2a2a

						.event-date
							text-align: center

							h1
								color: #ff2a2a

		.docs
			.title
				grid-template-columns: 1fr auto auto auto

			.docs-body
				padding: 3em 0 2em
				display: grid
				grid-gap: 2em
				grid-template-columns: repeat(3, 1fr)

				a
					padding: 2em
					border: 1px solid #e4e4e4
					border-radius: 3px
					transition: .3s
					text-decoration: none

					h4
						transition: .3s

					&:hover
						box-shadow: 0 0 15px 0 rgba(1, 46, 154, .15)

						h4
							color: #ff2a2a

		.links
			padding: 3em 0 0 0

			.links-body
				display: grid
				grid-gap: 2em
				grid-template-columns: repeat(4, 1fr)
				padding: 3em 0 2em

				a
					border: 1px solid #e4e4e4
					background: #fff
					padding: 2em
					border-radius: 5px
					text-decoration: none
					font-weight: 700
					transition: .3s

					&:nth-child(n+9)
						display: none

					&:hover
						color: #ff2a2a
						box-shadow: 0 0 15px 0 rgba(1, 46, 154, 0.15)

	footer
		background: #005c8b
		color: #fff
		transition: .3s

		a:hover
			color: #bee9ff

		menu
			border-bottom: 1px solid #fff

		.footer-bottom
			display: grid
			grid-template-columns: repeat(3, 1fr)
			padding: 15px
			font-size: .85em

			.copyright
				display: flex
				text-transform: uppercase
				text-align: center
				align-items: center

				h3
					display: flex
					justify-content: space-between

				img
					height: 3.5em
					margin: 0 1em

				div
					font-size: .99em

			.contact
				display: flex
				justify-content: center
				flex-direction: column

			.more
				display: flex
				align-items: center
				justify-content: space-between

				a
					text-decoration: underline