$border-color: #e4e4e4
$main-color: #005c8b
$text-color--red: #ff2a2a
$box-shadow-color: #012e9a26

menu,
menu ul,
menu li
	margin: 0
	margin-block-start: 0
	margin-block-end: 0
	padding: 0
	list-style: none

menu
	display: flex
	justify-content: flex-end
	align-items: center

	ul
		background: #fff
		border-top: 3px solid $main-color

	a
		display: block
		line-height: 100%
		height: 100%
		padding: 0 1em
		display: flex
		justify-content: center
		align-items: center
		font-weight: 700

a
	color: unset
	transition: .3s

h1, h2, h3, h4, h5, h6,
p
	margin: 0

body
	min-height: 100vh
	font-family: Arial
	color: #3a3a3a
	margin: 0
	display: flex
	flex-direction: column

	.vision
		display: flex
		align-items: center
		flex-direction: column

	.inner,
	.vision-title,
	.vision-body
		max-width: 1200px
		width: 100%
		position: relative

	header,
	footer,
	.link,
	.news,
	.events-list
		a
			text-decoration: none

	.border-bottom
		position: relative

		&:after
			position: absolute
			height: 1px
			width: 100%
			background: $border-color
			bottom: 0
			left: 0
			content: ""

	.events,
	.docs
		padding: 3em 0 0 0

	.title
		margin-bottom: 20px

		&:after
			bottom: -20px

		input
			display: none

			&:checked + label
				color: $text-color--red

				&:after
					opacity: 1

		h1
			display: inline-block


		.type
			font-weight: 700
			transition: .3s
			padding: 0 .5em
			position: relative
			cursor: pointer

			&:after
				position: absolute
				content: ''
				background: $text-color--red
				height: 4px
				bottom: -20px
				left: 0
				width: 100%
				opacity: 0
				transition: .3s

			&:hover
				color: $text-color--red

				&:after
					opacity: 1

	header,
	main,
	footer
		display: flex
		align-items: center
		justify-content: space-between
		flex-direction: column
		padding: 0 15px

	main,
	#map
		background-color: #fff
		z-index: 2

	header,
	footer
		.inner
			display: grid
			grid-template-columns: auto 1fr
			justify-content: space-between
			align-items: center

			.logo
				display: flex
				margin: 1em 0
				align-items: center

				.text
					margin-left: 1em
					word-wrap: nowrap

	header
		border-bottom: 3px solid $main-color
		background: #fff
		z-index: 20

		.inner
			/**удалить_начало**/

			@media screen and (max-width: 960px)
				display: flex
				flex-direction: column
				text-align: center

			@media screen and (max-width: 640px)
				display: grid
				grid-template-columns: auto 1fr
				grid-gap: 1em

				.vision-btn
					display: none

			#burgerMenuSwitch
				display: none

				&:checked + .burger-menu div
					&:nth-child(1)
						top: calc(50% - 1.5px)
						transform: rotate(45deg)

					&:nth-child(2)
						opacity: 0

					&:nth-child(3)
						bottom: calc(50% - 1.5px)
						transform: rotate(-45deg)

			.burger-menu
				display: none
				width: 10vw
				height: 7vw
				justify-content: space-between
				align-items: center
				flex-direction: column
				cursor: pointer
				position: relative

				@media screen and (max-width: 640px)
					display: flex

				div
					width: 100%
					height: 3px
					background: #275c8b
					transition: .3s
					position: absolute

					&:nth-child(1)
						top: 0

					&:nth-child(2)
						top: calc(50% - 1.5px)

					&:nth-child(3)
						bottom: 0

			.logo
				.text
					h1
						font-weight: 300

						@media screen and (max-width: 640px)
							font-size: 1em

			menu
				height: 100%

				@media screen and (max-width: 960px)
					a
						padding: .5em

				@media screen and (max-width: 640px)
					position: fixed
					width: 100vw
					left: 100%
					display: flex
					flex-direction: column
					background: #fff
					transition: left .3s
					justify-content: end

					li
						border-bottom: 1px solid #d0d0d0
						width: 100%
						display: flex
						align-self: center

						a
							line-height: unset
							height: unset
							width: 100%
							padding: 1em

				> li
					height: 100%

					@media screen and (max-width: 960px)
						position: relative

					&:hover
						> a
							color: $main-color

						ul
							left: 0
							opacity: 1

							@media screen and (max-width: 960px)
								display: flex
								flex-direction: column
								width: 30vw
								position: absolute
								padding: .5em

								li
									padding: 0

							@media screen and (max-width: 640px)
								display: none

					ul
						font-weight: 300
						display: grid
						left: -100vw
						position: absolute
						max-width: calc(1200px - 3em)
						width: 100%
						padding: 1.5em
						grid-template-columns: repeat(5, 1fr)
						grid-gap: 1em 0
						align-items: center
						box-shadow: 0 10px 30px 0 $box-shadow-color
						border-bottom-left-radius: 5px
						border-bottom-right-radius: 5px
						transition: opacity .3s
						opacity: 0
						top: 100%
						align-items: baseline

						@media screen and (max-width: 640px)
							left: 0
							width: 100%

						&:after
							left: 100%

						&:before
							right: 100%

						li
							padding: 0 .75em

							&:hover
								> a
									color: $main-color

							a
								padding: .25em
								display: block
			/**удалить_конец**/

	/**удалить_начало**/
	.slider.main-page
		height: 20vw
		width: 100%
		background: grey
		z-index: 15
		display: flex
		overflow: hidden
		box-shadow: 0 5px 25px 10px $box-shadow-color

		@media screen and (max-width: 640px)
			display: none

		div
			min-width: 100%
			position: relative
			overflow: hidden
			display: flex
			align-items: center

			img
				width: 100%
	/**удалить_конец**/

	main
		padding: 3em 15px 0 15px
		overflow-x: hidden
		flex: 1 0 auto
		min-height: calc(100vh - 3em - 111px)

		a:hover
			color: $text-color--red

		.bkg-gray
			background: #f5f5f5
			position: relative

			&:after,
			&:before
				content: ''
				background: #f5f5f5
				position: absolute
				height: 100%
				width: 50vw
				top: 0
				z-index: -1

			&:after
				left: 100%

			&:before
				right: 100%
		/**удалить_начало**/
		.news-element--more-news
			padding: 6em 0 3em

			@media screen and (max-width: 960px)
				.more-news-body
					grid-template-columns: 1fr !important

			@media screen and (max-width: 640px)
				display: none !important

		.link
			text-align: center
			font-weight: 700
			padding: 2em 0 3em

			@media screen and (max-width: 640px)
				padding-bottom: 1em

			input
				display: none

			a, label
				display: inline-block
				transition: .3s
				color: #5d5d5d
				position: relative
				cursor: pointer

				&:hover
					color: $text-color--red

					&:after
						background-image: url('../img/link-red.svg')

				&:after
					position: absolute
					content: ''
					right: -2em
					top: 0
					background-image: url('../img/link.svg')
					background-size: cover
					background-repeat: no-repeat
					background-position: center
					height: 1em
					width: 1em
					transition: .3s

			label
				&:after
					background-image: url('../img/drop-down-list.png')

				&:hover
					&:after
						background-image: url('../img/drop-down-list--red.png')

				#h-more
					display: none

			input:checked + label
				color: $text-color--red

				&:after
					background-image: url('../img/drop-up-list--red.png')

				#v-more
					display: none

				#h-more
					display: block

		.news
			display: grid
			grid-template-columns: 3fr 2fr
			grid-gap: 3em
			align-items: start

			@media screen and (max-width: 640px)
				grid-template-columns: 1fr
				grid-gap: 1em
			a
				display: inline-block
				transition: unset

				&:hover
					color: $text-color--red

			.news-date
				color: #5d5d5d
				font-size: .85em

			.news-photo
				width: 100%
				padding-bottom: 56%
				position: relative
				overflow: hidden
				border-radius: 3px

				img
					position: absolute
					left: 0
					top: 0
					width: 100%

			.news-main
				img,
				h1
					font-size: 2em
					transition: .3s

				.news-title
					padding: .45em 0

				&:hover
					img
						transform: scale(1.03)

			.news-list
				margin: -1em 0

				.news-item
					padding: 1em 0
					display: grid
					grid-template-rows: repeat(2, auto)
					position: relative

					&:not(:last-child)
						content: ''
						border-bottom: 1px solid $border-color

					.news-section
						text-transform: uppercase
						font-size: .85em
						font-weight: 700
						color: $text-color--red
						position: relative
						padding-left: 1.5em
						display: flex
						align-items: center

						&:after
							content: ''
							position: absolute
							height: .65em
							width: .65em
							background: $text-color--red
							left: 0
							margin: auto
							border-radius: 100%

					.news-title
						padding: .5em 0
						transition: .3s

		.governing
			padding: 3em 0 10em
			display: grid
			grid-template-columns: 20% 1fr
			grid-gap: 2em

			@media screen and (max-width: 640px)
				grid-template-columns: 1fr
				padding-bottom: 3em
				padding-top: 1em

			h2
				margin: .5em 0

			.governing-major
				position: relative

			.governing__img-wrapper
				position: relative
				border: 1px solid $border-color
				border-radius: 3px
				background: grey
				display: flex
				justify-content: center
				overflow: hidden
				padding-bottom: 150%

				img
					position: absolute
					height: 100%

			.info
				position: absolute

				@media screen and (max-width: 640px)
					position: relative

			.name
				font-weight: 700
				margin: 1em 0 .5em 0

			.position,
			.nominated
				font-style: italic
				color: black !important

			.nominated
				font-size: .9em

			.governing-deputates
				display: flex
				flex-direction: column
				justify-content: flex-end

				.deputates-line
					display: grid
					grid-gap: 2em
					grid-template-columns: repeat(5, 1fr)

					@media screen and (max-width: 640px)
						grid-template-columns: repeat(2, 1fr)

					.deputates-line__item
						position: relative

			a
				text-decoration: none

				&:hover
					.nominated,
					.position
						color: black !important

		.docs,
		.news-element--more-news
			.title
				grid-template-columns: 1fr auto auto auto

			.docs-body, .more-news-body
				padding: 3em 0 2em
				display: grid
				grid-gap: 2em
				grid-template-columns: repeat(3, 1fr)

				@media screen and (max-width: 960px)
					grid-template-columns: repeat(2, 1fr)

				@media screen and (max-width: 640px)
					grid-template-columns: 1fr
					grid-gap: 1em

				a
					padding: 2em
					border: 1px solid $border-color
					border-radius: 3px
					transition: .3s
					text-decoration: none
					background: #fff

					h4
						transition: .3s

					&:hover
						box-shadow: 0 0 15px 0 $box-shadow-color

						h4
							color: $text-color--red

		.links
			padding: 3em 0 0 0

			.links-body
				display: grid
				grid-gap: 2em
				grid-template-columns: repeat(4, 1fr)
				padding: 3em 0 2em

				@media screen and (max-width: 960px)
					grid-template-columns: repeat(2, 1fr)

				@media screen and (max-width: 640px)
					grid-template-columns: 1fr
					grid-gap: 1em

				a
					border: 1px solid $border-color
					background: #fff
					padding: 2em
					border-radius: 3px
					text-decoration: none
					font-weight: 700
					transition: .3s

					&:nth-child(n+9)
						display: none

					&:hover
						color: $text-color--red
						box-shadow: 0 0 15px 0 $box-shadow-color

		.breadcrumbs
			margin-top: -2.5em

			.path
				margin: 1em 0
				color: #909090

				a
					text-decoration: none
					padding: 1em 0

				span
					display: inline-block
					margin: 0 1em

		.search
			padding: 6px
			border: 1px solid $main-color
			border-radius: 3px
			display: grid
			grid-template-columns: 1fr auto
			grid-gap: 3px
			margin: 1em 0
			width: calc(70% - 12px)

			@media screen and (max-width: 960px)
				width: calc(60% - 12px)

			@media screen and (max-width: 740px)
				width: auto

			input,
			button
				border: none
				outline: none

			input
				font-size: 1.35em
				margin: 0 6px

			button
				background: $main-color
				color: #fff
				cursor: pointer
				border-radius: 3px
				font-size: 1.35em
				padding: .2em .8em
				transition: .3s

				&:hover
					background: lighten($main-color, 10%)

		.content
			height: auto
			display: grid
			grid-template-columns: 70% 1fr
			grid-gap: 3%
			align-items: start
			padding-top: 2em

			@media screen and (max-width: 640px)
				grid-template-columns: 1fr
				padding-bottom: 4em
				grid-gap: 0

				article
					.navigation-pages
						padding: 2em 0 !important

				aside
					background: #e0e0e0
					border-left: unset !important
					padding: 1em 0
					border-radius: 3px

					ul
						li
							&.select
								border-left: unset !important
								color: $main-color

							a
								border-bottom-color: darken($border-color, 10%) !important
								margin: 0 1em !important

			article
				img
					width: 60%
					cursor: pointer

					@media screen and (max-width: 640px)
						width: 100%

				p
					margin: 1em 0
					font-size: 1.2em

				.navigation-pages
					display: inline-flex
					padding-top: 2em
					padding-bottom: 3em
					font-weight: 700
					color: #717171

					a, div
						padding-top: 1em
						padding-bottom: 1em
						padding-right: 1.5em
						padding-left: 1.5em

					a
						border-radius: 3px
						line-height: .8em
						cursor: pointer

						&.no-active
							opacity: .6
							cursor: default

						&:hover:not(.no-active), &.current
							color: unset
							background: #dedede

						&:not(.to-last)
							margin: 0 .25em

						&.to-first, &.to-last
							border: 1px solid $border-color
							position: relative

							&:before
								position: absolute
								top: 0
								left: 0
								width: 100%
								height: 100%
								content: ''
								background-image: url('../img/drop-down-list.png')
								background-repeat: no-repeat
								background-size: 40%
								background-position: center

						&.to-first:before
							transform: rotate(90deg)

						&.to-last:before
							transform: rotate(-90deg)

				.share
					display: flex
					border-top: 1px solid $border-color
					justify-content: space-between
					margin-top: 2em
					padding: 2em 0

					@media screen and (max-width: 640px)
						justify-content: center

					.back, .download
						padding: 1em 3em
						transition: .3s

						@media screen and (max-width: 640px)
							display: none

						&:hover
							color: #fff

					.back
						border-color: red
						color: red

						&:hover
							background: red

					.download
						border-color: $main-color
						color: $main-color

						&:hover
							background: $main-color

					.back, .sharing, .download
						border: 1px solid
						font-size: 1.2em
						border-radius: 5px
						text-decoration: none

					.sharing
						display: grid
						border-color: $main-color
						grid-template-columns: repeat(4, 1fr)
						height: 3em

						a
							padding: 0 1.5em
							transition: .3s
							position: relative
							background-size: 60%
							background-position: center
							background-repeat: no-repeat

							&:after
								position: absolute
								width: 100%
								height: 100%
								content: ''
								transition: .3s
								opacity: 0
								background-size: 60%
								background-position: center
								background-repeat: no-repeat
								top: 0
								left: 0

							&:hover
								background-color: $main-color

								&:after
									opacity: 1

							&:not(:last-child)
								border-right: 1px solid $main-color

							&#vk
								background-image: url('../img/icons/vk-blue.svg')

								&:after
									background-image: url('../img/icons/vk-white.svg')

							&#ok
								background-image: url('../img/icons/odnoklassniki-blue.svg')

								&:after
									background-image: url('../img/icons/odnoklassniki-white.svg')

							&#fb
								background-image: url('../img/icons/facebook-blue.svg')

								&:after
									background-image: url('../img/icons/facebook-white.svg')

							&#print
								background-image: url('../img/icons/printer-blue.svg')

								&:after
									background-image: url('../img/icons/printer-white.svg')

			aside
				border-left: 1px solid $border-color
				font-weight: 700

				ul
					list-style: none
					margin: 0
					padding: 0

					li
						&.select
							border-left: 3px solid $main-color

						a
							text-decoration: none
							padding: 1em
							display: block
							margin-left: 1em

							&:hover
								color: $main-color

					li:not(:last-child) a
						border-bottom: 1px solid $border-color
		/**удалить_конец**/

	#map
		width: 100%
		height: 450px
		padding: 0
		margin: 0
		position: relative

		@media screen and (max-width: 740px)
			display: none

		/**удалить_начало**/
		.map-address
			right: 50%
			position: absolute
			background: #fff
			border: 1px solid $border-color
			box-shadow: 0 0 15px 0 $box-shadow-color
			padding: 2em
			top: 5%
			border-radius: 3px
			z-index: 1

			a
				text-decoration: none

				&:hover
					color: $text-color--red

			h1
				font-size: 1.5em
				padding: 0 0 .5em 0
				border-bottom: 1px solid $border-color
				margin-bottom: .5em
		/**удалить_конец**/

	footer
		background: $main-color
		color: #fff
		transition: .3s
		position: sticky
		bottom: 0
		min-height: 100vh
		padding: 0 15px

		@media screen and (max-width: 960px)
			position: relative
			min-height: unset

		a
			&:hover
				color: lighten($main-color, 50%)

			&.dotted
				border-bottom: 1px dotted #fff

				&:hover
					border-bottom-color: lighten($main-color, 50%)

		.inner
			min-height: calc(100vh - 2em)
			display: grid
			grid-template-columns: repeat(2, 1fr)
			grid-template-rows: auto auto 1fr
			grid-gap: 1em
			width: calc(100% - 30px)

			@media screen and (max-width: 960px)
				grid-template-columns: 1fr
				min-height: unset
				padding-bottom: 1em

				.feedback-title, .feedback, .feedback-sub
					display: none !important

			> div
				height: 100%

			.menu
				grid-area: 1 / 1 / 2 / 3
				display: grid
				grid-template-columns: repeat(2, 1fr)

				@media screen and (max-width: 960px)
					display: flex
					align-items: center
					flex-direction: column
					text-align: center
					grid-area: unset

					menu a
						padding: .5em

				@media screen and (max-width: 640px)
					display: none

			.line
				border-bottom: 1px solid transparentize($border-color, 0.7)

			h2
				font-weight: 300
				text-align: center

			.address
				height: 100%
				position: relative
				display: flex
				flex-direction: column
				font-size: 1.2em
				line-height: 1.4em

				#major, #addr, #phone, #email
					margin-bottom: 2em

				#site-maps-links
					position: absolute
					bottom: .6em

					@media screen and (max-width: 640px)
						position: relative

			.feedback
				display: grid
				grid-template-columns: 100%
				grid-template-rows: repeat(3, 50px) 1fr repeat(2, 50px)
				grid-gap: 10px

				> div
					display: grid
					grid-template-columns: repeat(2, 1fr)
					grid-gap: 10px

				input, textarea
					font-style: italic

				input, textarea, button
					border: none
					outline: none
					resize: none
					padding: 1em
					font-size: 16px
					font-family: Arial
					border-radius: 3px

				button
					cursor: pointer
					color: #fff
					background-color: #f60000
					transition: 0.3s

					&:hover
						background-color: lighten(#f60000, 15%)