@charset "UTF-8";
menu,
menu ul,
menu li {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  list-style: none; }

menu {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  menu ul {
    background: #fff;
    border-top: 3px solid #005c8b; }
  menu a {
    display: block;
    line-height: 100%;
    height: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700; }

a {
  color: unset;
  transition: 0.3s; }

h1, h2, h3, h4, h5, h6,
p {
  margin: 0; }

body {
  min-height: 100vh;
  font-family: Arial;
  color: #3a3a3a;
  margin: 0;
  display: flex;
  flex-direction: column;
  /**удалить_начало* */
  /**удалить_конец* */ }
  body .vision {
    display: flex;
    align-items: center;
    flex-direction: column; }
  body .inner,
  body .vision-title,
  body .vision-body {
    max-width: 1200px;
    width: 100%;
    position: relative; }
  body header a,
  body footer a,
  body .link a,
  body .news a,
  body .events-list a {
    text-decoration: none; }
  body .border-bottom {
    position: relative; }
    body .border-bottom:after {
      position: absolute;
      height: 1px;
      width: 100%;
      background: #e4e4e4;
      bottom: 0;
      left: 0;
      content: ""; }
  body .events,
  body .docs {
    padding: 3em 0 0 0; }
  body .title {
    margin-bottom: 20px; }
    body .title:after {
      bottom: -20px; }
    body .title input {
      display: none; }
      body .title input:checked + label {
        color: #ff2a2a; }
        body .title input:checked + label:after {
          opacity: 1; }
    body .title h1 {
      display: inline-block; }
    body .title .type {
      font-weight: 700;
      transition: 0.3s;
      padding: 0 0.5em;
      position: relative;
      cursor: pointer; }
      body .title .type:after {
        position: absolute;
        content: "";
        background: #ff2a2a;
        height: 4px;
        bottom: -20px;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: 0.3s; }
      body .title .type:hover {
        color: #ff2a2a; }
        body .title .type:hover:after {
          opacity: 1; }
  body header,
  body main,
  body footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 15px; }
  body main,
  body #map {
    background-color: #fff;
    z-index: 2; }
  body header .inner,
  body footer .inner {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center; }
    body header .inner .logo,
    body footer .inner .logo {
      display: flex;
      margin: 1em 0;
      align-items: center; }
      body header .inner .logo .text,
      body footer .inner .logo .text {
        margin-left: 1em;
        word-wrap: nowrap; }
  body header {
    border-bottom: 3px solid #005c8b;
    background: #fff;
    z-index: 20; }
    body header .inner {
      /**удалить_начало* */
      /**удалить_конец* */ }
      @media screen and (max-width: 960px) {
        body header .inner {
          display: flex;
          flex-direction: column;
          text-align: center; } }
      @media screen and (max-width: 640px) {
        body header .inner {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-gap: 1em; }
          body header .inner .vision-btn {
            display: none; } }
      body header .inner #burgerMenuSwitch {
        display: none; }
        body header .inner #burgerMenuSwitch:checked + .burger-menu div:nth-child(1) {
          top: calc(50% - 1.5px);
          transform: rotate(45deg); }
        body header .inner #burgerMenuSwitch:checked + .burger-menu div:nth-child(2) {
          opacity: 0; }
        body header .inner #burgerMenuSwitch:checked + .burger-menu div:nth-child(3) {
          bottom: calc(50% - 1.5px);
          transform: rotate(-45deg); }
      body header .inner .burger-menu {
        display: none;
        width: 10vw;
        height: 7vw;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        position: relative; }
        @media screen and (max-width: 640px) {
          body header .inner .burger-menu {
            display: flex; } }
        body header .inner .burger-menu div {
          width: 100%;
          height: 3px;
          background: #275c8b;
          transition: 0.3s;
          position: absolute; }
          body header .inner .burger-menu div:nth-child(1) {
            top: 0; }
          body header .inner .burger-menu div:nth-child(2) {
            top: calc(50% - 1.5px); }
          body header .inner .burger-menu div:nth-child(3) {
            bottom: 0; }
      body header .inner .logo .text h1 {
        font-weight: 300; }
        @media screen and (max-width: 640px) {
          body header .inner .logo .text h1 {
            font-size: 1em; } }
      body header .inner menu {
        height: 100%; }
        @media screen and (max-width: 960px) {
          body header .inner menu a {
            padding: 0.5em; } }
        @media screen and (max-width: 640px) {
          body header .inner menu {
            position: fixed;
            width: 100vw;
            left: 100%;
            display: flex;
            flex-direction: column;
            background: #fff;
            transition: left 0.3s;
            justify-content: end; }
            body header .inner menu li {
              border-bottom: 1px solid #d0d0d0;
              width: 100%;
              display: flex;
              align-self: center; }
              body header .inner menu li a {
                line-height: unset;
                height: unset;
                width: 100%;
                padding: 1em; } }
        body header .inner menu > li {
          height: 100%; }
          @media screen and (max-width: 960px) {
            body header .inner menu > li {
              position: relative; } }
          body header .inner menu > li:hover > a {
            color: #005c8b; }
          body header .inner menu > li:hover ul {
            left: 0;
            opacity: 1; }
            @media screen and (max-width: 960px) {
              body header .inner menu > li:hover ul {
                display: flex;
                flex-direction: column;
                width: 30vw;
                position: absolute;
                padding: 0.5em; }
                body header .inner menu > li:hover ul li {
                  padding: 0; } }
            @media screen and (max-width: 640px) {
              body header .inner menu > li:hover ul {
                display: none; } }
          body header .inner menu > li ul {
            font-weight: 300;
            display: grid;
            left: -100vw;
            position: absolute;
            max-width: calc(1200px - 3em);
            width: 100%;
            padding: 1.5em;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1em 0;
            align-items: center;
            box-shadow: 0 10px 30px 0 #012e9a26;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: opacity 0.3s;
            opacity: 0;
            top: 100%;
            align-items: baseline; }
            @media screen and (max-width: 640px) {
              body header .inner menu > li ul {
                left: 0;
                width: 100%; } }
            body header .inner menu > li ul:after {
              left: 100%; }
            body header .inner menu > li ul:before {
              right: 100%; }
            body header .inner menu > li ul li {
              padding: 0 0.75em; }
              body header .inner menu > li ul li:hover > a {
                color: #005c8b; }
              body header .inner menu > li ul li a {
                padding: 0.25em;
                display: block; }
  body .slider.main-page {
    height: 20vw;
    width: 100%;
    background: grey;
    z-index: 15;
    display: flex;
    overflow: hidden;
    box-shadow: 0 5px 25px 10px #012e9a26; }
    @media screen and (max-width: 640px) {
      body .slider.main-page {
        display: none; } }
    body .slider.main-page div {
      min-width: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center; }
      body .slider.main-page div img {
        width: 100%; }
  body main {
    padding: 3em 15px 0 15px;
    overflow-x: hidden;
    flex: 1 0 auto;
    min-height: calc(100vh - 3em - 111px);
    /**удалить_начало* */
    /**удалить_конец* */ }
    body main a:hover {
      color: #ff2a2a; }
    body main .bkg-gray {
      background: #f5f5f5;
      position: relative; }
      body main .bkg-gray:after, body main .bkg-gray:before {
        content: "";
        background: #f5f5f5;
        position: absolute;
        height: 100%;
        width: 50vw;
        top: 0;
        z-index: -1; }
      body main .bkg-gray:after {
        left: 100%; }
      body main .bkg-gray:before {
        right: 100%; }
    body main .news-element--more-news {
      padding: 6em 0 3em; }
      @media screen and (max-width: 960px) {
        body main .news-element--more-news .more-news-body {
          grid-template-columns: 1fr !important; } }
      @media screen and (max-width: 640px) {
        body main .news-element--more-news {
          display: none !important; } }
    body main .link {
      text-align: center;
      font-weight: 700;
      padding: 2em 0 3em; }
      @media screen and (max-width: 640px) {
        body main .link {
          padding-bottom: 1em; } }
      body main .link input {
        display: none; }
      body main .link a, body main .link label {
        display: inline-block;
        transition: 0.3s;
        color: #5d5d5d;
        position: relative;
        cursor: pointer; }
        body main .link a:hover, body main .link label:hover {
          color: #ff2a2a; }
          body main .link a:hover:after, body main .link label:hover:after {
            background-image: url("../img/link-red.svg"); }
        body main .link a:after, body main .link label:after {
          position: absolute;
          content: "";
          right: -2em;
          top: 0;
          background-image: url("../img/link.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 1em;
          width: 1em;
          transition: 0.3s; }
      body main .link label:after {
        background-image: url("../img/drop-down-list.png"); }
      body main .link label:hover:after {
        background-image: url("../img/drop-down-list--red.png"); }
      body main .link label #h-more {
        display: none; }
      body main .link input:checked + label {
        color: #ff2a2a; }
        body main .link input:checked + label:after {
          background-image: url("../img/drop-up-list--red.png"); }
        body main .link input:checked + label #v-more {
          display: none; }
        body main .link input:checked + label #h-more {
          display: block; }
    body main .news {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-gap: 3em;
      align-items: start; }
      @media screen and (max-width: 640px) {
        body main .news {
          grid-template-columns: 1fr;
          grid-gap: 1em; } }
      body main .news a {
        display: inline-block;
        transition: unset; }
        body main .news a:hover {
          color: #ff2a2a; }
      body main .news .news-date {
        color: #5d5d5d;
        font-size: 0.85em; }
      body main .news .news-photo {
        width: 100%;
        padding-bottom: 56%;
        position: relative;
        overflow: hidden;
        border-radius: 3px; }
        body main .news .news-photo img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%; }
      body main .news .news-main img,
      body main .news .news-main h1 {
        font-size: 2em;
        transition: 0.3s; }
      body main .news .news-main .news-title {
        padding: 0.45em 0; }
      body main .news .news-main:hover img {
        transform: scale(1.03); }
      body main .news .news-list {
        margin: -1em 0; }
        body main .news .news-list .news-item {
          padding: 1em 0;
          display: grid;
          grid-template-rows: repeat(2, auto);
          position: relative; }
          body main .news .news-list .news-item:not(:last-child) {
            content: "";
            border-bottom: 1px solid #e4e4e4; }
          body main .news .news-list .news-item .news-section {
            text-transform: uppercase;
            font-size: 0.85em;
            font-weight: 700;
            color: #ff2a2a;
            position: relative;
            padding-left: 1.5em;
            display: flex;
            align-items: center; }
            body main .news .news-list .news-item .news-section:after {
              content: "";
              position: absolute;
              height: 0.65em;
              width: 0.65em;
              background: #ff2a2a;
              left: 0;
              margin: auto;
              border-radius: 100%; }
          body main .news .news-list .news-item .news-title {
            padding: 0.5em 0;
            transition: 0.3s; }
    body main .governing {
      padding: 3em 0 10em;
      display: grid;
      grid-template-columns: 20% 1fr;
      grid-gap: 2em; }
      @media screen and (max-width: 640px) {
        body main .governing {
          grid-template-columns: 1fr;
          padding-bottom: 3em;
          padding-top: 1em; } }
      body main .governing h2 {
        margin: 0.5em 0; }
      body main .governing .governing-major {
        position: relative; }
      body main .governing .governing__img-wrapper {
        position: relative;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        background: grey;
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding-bottom: 150%; }
        body main .governing .governing__img-wrapper img {
          position: absolute;
          height: 100%; }
      body main .governing .info {
        position: absolute; }
        @media screen and (max-width: 640px) {
          body main .governing .info {
            position: relative; } }
      body main .governing .name {
        font-weight: 700;
        margin: 1em 0 0.5em 0; }
      body main .governing .position,
      body main .governing .nominated {
        font-style: italic;
        color: black !important; }
      body main .governing .nominated {
        font-size: 0.9em; }
      body main .governing .governing-deputates {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        body main .governing .governing-deputates .deputates-line {
          display: grid;
          grid-gap: 2em;
          grid-template-columns: repeat(5, 1fr); }
          @media screen and (max-width: 640px) {
            body main .governing .governing-deputates .deputates-line {
              grid-template-columns: repeat(2, 1fr); } }
          body main .governing .governing-deputates .deputates-line .deputates-line__item {
            position: relative; }
      body main .governing a {
        text-decoration: none; }
        body main .governing a:hover .nominated,
        body main .governing a:hover .position {
          color: black !important; }
    body main .docs .title,
    body main .news-element--more-news .title {
      grid-template-columns: 1fr auto auto auto; }
    body main .docs .docs-body, body main .docs .more-news-body,
    body main .news-element--more-news .docs-body,
    body main .news-element--more-news .more-news-body {
      padding: 3em 0 2em;
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(3, 1fr); }
      @media screen and (max-width: 960px) {
        body main .docs .docs-body, body main .docs .more-news-body,
        body main .news-element--more-news .docs-body,
        body main .news-element--more-news .more-news-body {
          grid-template-columns: repeat(2, 1fr); } }
      @media screen and (max-width: 640px) {
        body main .docs .docs-body, body main .docs .more-news-body,
        body main .news-element--more-news .docs-body,
        body main .news-element--more-news .more-news-body {
          grid-template-columns: 1fr;
          grid-gap: 1em; } }
      body main .docs .docs-body a, body main .docs .more-news-body a,
      body main .news-element--more-news .docs-body a,
      body main .news-element--more-news .more-news-body a {
        padding: 2em;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        transition: 0.3s;
        text-decoration: none;
        background: #fff; }
        body main .docs .docs-body a h4, body main .docs .more-news-body a h4,
        body main .news-element--more-news .docs-body a h4,
        body main .news-element--more-news .more-news-body a h4 {
          transition: 0.3s; }
        body main .docs .docs-body a:hover, body main .docs .more-news-body a:hover,
        body main .news-element--more-news .docs-body a:hover,
        body main .news-element--more-news .more-news-body a:hover {
          box-shadow: 0 0 15px 0 #012e9a26; }
          body main .docs .docs-body a:hover h4, body main .docs .more-news-body a:hover h4,
          body main .news-element--more-news .docs-body a:hover h4,
          body main .news-element--more-news .more-news-body a:hover h4 {
            color: #ff2a2a; }
    body main .links {
      padding: 3em 0 0 0; }
      body main .links .links-body {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(4, 1fr);
        padding: 3em 0 2em; }
        @media screen and (max-width: 960px) {
          body main .links .links-body {
            grid-template-columns: repeat(2, 1fr); } }
        @media screen and (max-width: 640px) {
          body main .links .links-body {
            grid-template-columns: 1fr;
            grid-gap: 1em; } }
        body main .links .links-body a {
          border: 1px solid #e4e4e4;
          background: #fff;
          padding: 2em;
          border-radius: 3px;
          text-decoration: none;
          font-weight: 700;
          transition: 0.3s; }
          body main .links .links-body a:nth-child(n+9) {
            display: none; }
          body main .links .links-body a:hover {
            color: #ff2a2a;
            box-shadow: 0 0 15px 0 #012e9a26; }
    body main .breadcrumbs {
      margin-top: -2.5em; }
      body main .breadcrumbs .path {
        margin: 1em 0;
        color: #909090; }
        body main .breadcrumbs .path a {
          text-decoration: none;
          padding: 1em 0; }
        body main .breadcrumbs .path span {
          display: inline-block;
          margin: 0 1em; }
    body main .search {
      padding: 6px;
      border: 1px solid #005c8b;
      border-radius: 3px;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 3px;
      margin: 1em 0;
      width: calc(70% - 12px); }
      @media screen and (max-width: 960px) {
        body main .search {
          width: calc(60% - 12px); } }
      @media screen and (max-width: 740px) {
        body main .search {
          width: auto; } }
      body main .search input,
      body main .search button {
        border: none;
        outline: none; }
      body main .search input {
        font-size: 1.35em;
        margin: 0 6px; }
      body main .search button {
        background: #005c8b;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        font-size: 1.35em;
        padding: 0.2em 0.8em;
        transition: 0.3s; }
        body main .search button:hover {
          background: #007ebe; }
    body main .content {
      height: auto;
      display: grid;
      grid-template-columns: 70% 1fr;
      grid-gap: 3%;
      align-items: start;
      padding-top: 2em; }
      @media screen and (max-width: 640px) {
        body main .content {
          grid-template-columns: 1fr;
          padding-bottom: 4em;
          grid-gap: 0; }
          body main .content article .navigation-pages {
            padding: 2em 0 !important; }
          body main .content aside {
            background: #e0e0e0;
            border-left: unset !important;
            padding: 1em 0;
            border-radius: 3px; }
            body main .content aside ul li.select {
              border-left: unset !important;
              color: #005c8b; }
            body main .content aside ul li a {
              border-bottom-color: #cbcbcb !important;
              margin: 0 1em !important; } }
      body main .content article img {
        width: 60%;
        cursor: pointer; }
        @media screen and (max-width: 640px) {
          body main .content article img {
            width: 100%; } }
      body main .content article p {
        margin: 1em 0;
        font-size: 1.2em; }
      body main .content article .document {
        position: relative;
        padding-bottom: 141%; }
        body main .content article .document iframe {
          position: absolute;
          width: 100%;
          height: 100%; }
      body main .content article .navigation-pages {
        display: inline-flex;
        padding-top: 2em;
        padding-bottom: 3em;
        font-weight: 700;
        color: #717171; }
        body main .content article .navigation-pages a, body main .content article .navigation-pages div {
          padding-top: 1em;
          padding-bottom: 1em;
          padding-right: 1.5em;
          padding-left: 1.5em; }
        body main .content article .navigation-pages a {
          border-radius: 3px;
          line-height: 0.8em;
          cursor: pointer; }
          body main .content article .navigation-pages a.no-active {
            opacity: 0.6;
            cursor: default; }
          body main .content article .navigation-pages a:hover:not(.no-active), body main .content article .navigation-pages a.current {
            color: unset;
            background: #dedede; }
          body main .content article .navigation-pages a:not(.to-last) {
            margin: 0 0.25em; }
          body main .content article .navigation-pages a.to-first, body main .content article .navigation-pages a.to-last {
            border: 1px solid #e4e4e4;
            position: relative; }
            body main .content article .navigation-pages a.to-first:before, body main .content article .navigation-pages a.to-last:before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              background-image: url("../img/drop-down-list.png");
              background-repeat: no-repeat;
              background-size: 40%;
              background-position: center; }
          body main .content article .navigation-pages a.to-first:before {
            transform: rotate(90deg); }
          body main .content article .navigation-pages a.to-last:before {
            transform: rotate(-90deg); }
      body main .content article .share {
        display: flex;
        border-top: 1px solid #e4e4e4;
        justify-content: space-between;
        margin-top: 2em;
        padding: 2em 0; }
        @media screen and (max-width: 640px) {
          body main .content article .share {
            justify-content: center; } }
        body main .content article .share .back, body main .content article .share .download {
          padding: 1em 3em;
          transition: 0.3s; }
          body main .content article .share .back:hover, body main .content article .share .download:hover {
            color: #fff; }
        body main .content article .share .back {
          border-color: red;
          color: red; }
          @media screen and (max-width: 640px) {
            body main .content article .share .back {
              display: none; } }
          body main .content article .share .back:hover {
            background: red; }
        body main .content article .share .download {
          border-color: #005c8b;
          color: #005c8b; }
          body main .content article .share .download:hover {
            background: #005c8b; }
        body main .content article .share .back, body main .content article .share .sharing, body main .content article .share .download {
          border: 1px solid;
          font-size: 1.2em;
          border-radius: 5px;
          text-decoration: none; }
        body main .content article .share .sharing {
          display: grid;
          border-color: #005c8b;
          grid-template-columns: repeat(4, 1fr);
          height: 3em; }
          body main .content article .share .sharing a {
            padding: 0 1.5em;
            transition: 0.3s;
            position: relative;
            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat; }
            body main .content article .share .sharing a:after {
              position: absolute;
              width: 100%;
              height: 100%;
              content: "";
              transition: 0.3s;
              opacity: 0;
              background-size: 60%;
              background-position: center;
              background-repeat: no-repeat;
              top: 0;
              left: 0; }
            body main .content article .share .sharing a:hover {
              background-color: #005c8b; }
              body main .content article .share .sharing a:hover:after {
                opacity: 1; }
            body main .content article .share .sharing a:not(:last-child) {
              border-right: 1px solid #005c8b; }
            body main .content article .share .sharing a#vk {
              background-image: url("../img/icons/vk-blue.svg"); }
              body main .content article .share .sharing a#vk:after {
                background-image: url("../img/icons/vk-white.svg"); }
            body main .content article .share .sharing a#ok {
              background-image: url("../img/icons/odnoklassniki-blue.svg"); }
              body main .content article .share .sharing a#ok:after {
                background-image: url("../img/icons/odnoklassniki-white.svg"); }
            body main .content article .share .sharing a#fb {
              background-image: url("../img/icons/facebook-blue.svg"); }
              body main .content article .share .sharing a#fb:after {
                background-image: url("../img/icons/facebook-white.svg"); }
            body main .content article .share .sharing a#print {
              background-image: url("../img/icons/printer-blue.svg"); }
              body main .content article .share .sharing a#print:after {
                background-image: url("../img/icons/printer-white.svg"); }
      body main .content aside {
        border-left: 1px solid #e4e4e4;
        font-weight: 700; }
        body main .content aside ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          body main .content aside ul li.select {
            border-left: 3px solid #005c8b; }
          body main .content aside ul li a {
            text-decoration: none;
            padding: 1em;
            display: block;
            margin-left: 1em; }
            body main .content aside ul li a:hover {
              color: #005c8b; }
          body main .content aside ul li:not(:last-child) a {
            border-bottom: 1px solid #e4e4e4; }
  body #map {
    width: 100%;
    height: 450px;
    padding: 0;
    margin: 0;
    position: relative;
    /**удалить_начало* */
    /**удалить_конец* */ }
    @media screen and (max-width: 740px) {
      body #map {
        display: none; } }
    body #map .map-address {
      right: 50%;
      position: absolute;
      background: #fff;
      border: 1px solid #e4e4e4;
      box-shadow: 0 0 15px 0 #012e9a26;
      padding: 2em;
      top: 5%;
      border-radius: 3px;
      z-index: 1; }
      body #map .map-address a {
        text-decoration: none; }
        body #map .map-address a:hover {
          color: #ff2a2a; }
      body #map .map-address h1 {
        font-size: 1.5em;
        padding: 0 0 0.5em 0;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 0.5em; }
  body footer {
    background: #005c8b;
    color: #fff;
    transition: 0.3s;
    position: sticky;
    bottom: 0;
    min-height: 100vh;
    padding: 0 15px; }
    @media screen and (max-width: 960px) {
      body footer {
        position: relative;
        min-height: unset; } }
    body footer a:hover {
      color: #8bd8ff; }
    body footer a.dotted {
      border-bottom: 1px dotted #fff; }
      body footer a.dotted:hover {
        border-bottom-color: #8bd8ff; }
    body footer .inner {
      min-height: calc(100vh - 2em);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto 1fr;
      grid-gap: 1em;
      width: calc(100% - 30px); }
      @media screen and (max-width: 960px) {
        body footer .inner {
          grid-template-columns: 1fr;
          min-height: unset;
          padding-bottom: 1em; }
          body footer .inner .feedback-title, body footer .inner .feedback, body footer .inner .feedback-sub {
            display: none !important; } }
      body footer .inner > div {
        height: 100%; }
      body footer .inner .menu {
        grid-area: 1/1/2/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
        @media screen and (max-width: 960px) {
          body footer .inner .menu {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            grid-area: unset; }
            body footer .inner .menu menu a {
              padding: 0.5em; } }
        @media screen and (max-width: 640px) {
          body footer .inner .menu {
            display: none; } }
      body footer .inner .line {
        border-bottom: 1px solid rgba(228, 228, 228, 0.3); }
      body footer .inner h2 {
        font-weight: 300;
        text-align: center; }
      body footer .inner .address {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        line-height: 1.4em; }
        body footer .inner .address #major, body footer .inner .address #addr, body footer .inner .address #phone, body footer .inner .address #email {
          margin-bottom: 2em; }
        body footer .inner .address #site-maps-links {
          position: absolute;
          bottom: 0.6em; }
          @media screen and (max-width: 640px) {
            body footer .inner .address #site-maps-links {
              position: relative; } }
      body footer .inner .feedback {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 50px) 1fr repeat(2, 50px);
        grid-gap: 10px; }
        body footer .inner .feedback > div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px; }
        body footer .inner .feedback input, body footer .inner .feedback textarea {
          font-style: italic; }
        body footer .inner .feedback input, body footer .inner .feedback textarea, body footer .inner .feedback button {
          border: none;
          outline: none;
          resize: none;
          padding: 1em;
          font-size: 16px;
          font-family: Arial;
          border-radius: 3px; }
        body footer .inner .feedback button {
          cursor: pointer;
          color: #fff;
          background-color: #f60000;
          transition: 0.3s; }
          body footer .inner .feedback button:hover {
            background-color: #ff4444; }

/*# sourceMappingURL=style.css.map */
