@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
body {
  font-family: 'Roboto', Arial;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}
img {
  width: 100%;
  background-size: cover;
}
h1,
h2,
h3,
h4 {
  display: inline-block;
  margin: 0;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}
h1 span,
h2 span,
h3 span,
h4 span {
  color: #6a8d9d;
}
h1 {
  font-size: 40px;
  font-weight: 400;
}
h2 {
  font-size: 20px;
  font-weight: 300;
  padding: 0 10px;
  border-bottom: 2px solid #fff;
}
h3 {
  font-size: 25px;
  font-weight: 100;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
}
h4 {
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 40px;
  letter-spacing: 0;
  color: #343333;
}
svg {
  width: 40px;
  height: 40px;
}
svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}
svg use {
  transition: .5s;
}
svg:hover use {
  fill: #618190;
}
section {
  position: absolute;
}
button {
  font-size: 14px;
  font-weight: 100;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
  color: #6a8d9d;
  border: 1px solid #6a8d9d;
  outline: none;
  background: none;
}
button:hover {
  color: #fff;
  background-color: #6a8d9d;
}
p {
  margin: 0 0 20px 0;
  text-align: justify;
  color: #343333;
}
p:first-letter {
  margin-left: 20px;
}
.bnw {
  filter: saturate(0%);
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1b23cc;
}
.intro-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#main {
  z-index: 2;
  display: flex;
  flex-direction: row;
  height: 100%;
}
#main .half-screen {
  position: relative;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
#main .half-screen img {
  background-position-y: top;
}
#main .half-screen .button {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 25%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
#main .half-screen .button img {
  transition: 1s;
  filter: saturate(0%);
}
#main .half-screen .button:hover > img {
  width: 120%;
}
#main .half-screen .button .intro-content {
  flex-direction: row;
  justify-content: unset;
}
#main .half-screen .button .intro-content content {
  display: flex;
  margin-left: 10%;
}
#main .half-screen .button .intro-content content .icon {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 30px;
  transition: all 0.2s ease-in;
  border-radius: 100%;
  background-color: #fff33;
  box-shadow: 0 0 0 0 #fff33;
}
#main .half-screen .button .intro-content content .icon img {
  width: 50%;
  margin: auto;
}
#main .half-screen .button .intro-content content h3 {
  font-style: normal;
  margin-bottom: 5px;
}
#main .half-screen .button .intro-content content .text {
  font-style: italic;
}
#main .half-screen .soc-net {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
#main .half-screen .soc-net a {
  position: relative;
  display: flex;
  margin: 0 20px;
  transition: .3s;
  background-size: 100%;
  justify-content: center;
  align-items: center;
}
#main .half-screen .soc-net a .name {
  position: absolute;
  bottom: -30px;
  display: none;
  transition: .5s;
  text-decoration: none;
  opacity: 0;
  color: #618190;
}
#main .half-screen .soc-net a:hover .name {
  display: block;
}
#white-layer {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
#close-btn {
  position: absolute;
  z-index: 1;
  top: 3%;
  right: 3%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#info .info-block {
  position: absolute;
  display: none;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
#info .info-block .image {
  position: relative;
  min-width: 40vw;
  height: 100%;
}
#info .info-block .image img {
  position: absolute;
  height: 100%;
  object-fit: cover;
}
#info .info-block .image h1 {
  position: absolute;
  bottom: 15%;
  left: 50px;
  padding: 0 20% 10px 0;
  border-bottom: 5px solid #6a8d9d;
}
#info .info-block .more-info {
  overflow-y: auto;
  min-height: 100%;
  min-width: 60vw;
}
#info .info-block#profile .more-info {
  background-image: url('../img/story_bg.jpg');
  background-size: cover;
}
.info-block article {
  display: flex;
  flex-direction: column;
  padding: 20% 0;
  justify-content: center;
  align-items: center;
}
.info-block article div {
  display: flex;
}
.info-block article div#about-me,
.info-block article div#education,
.info-block article div#expirience {
  width: 80%;
}
.info-block article div#what-i-do {
  width: 100%;
}
.info-block article .avatar {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border: 1px solid #6a8d9d;
}
.info-block article button {
  margin-top: 40px;
}
.info-block article .ido {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info-block article .ido img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  box-shadow: 0 0 0 10px #ffffff33;
}
.info-block article .ido div {
  color: #fff;
  font-size: 25px;
  margin-top: 30px;
}
.info-block article #education,
.info-block article #expirience {
  border-left: 4px solid #6a8d9d;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.info-block article #education .subtitle,
.info-block article #expirience .subtitle {
  background-color: #6a8d9d;
  line-height: 35px;
  font-size: 20px;
  color: #fff;
  padding: 0 20px;
  position: relative;
  width: calc(100% - 40px);
}
.info-block article #education .subtitle:before,
.info-block article #expirience .subtitle:before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  left: -47px;
  background-color: #6a8d9d;
  border-radius: 100%;
  border: 5px solid #fff;
  top: -1px;
}
.info-block article #education .subtitle:after,
.info-block article #expirience .subtitle:after {
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  left: -5px;
  top: 5.5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #6a8d9d;
}
.info-block article #education p,
.info-block article #expirience p {
  margin: 20px 0;
}
.info-block article #education p:first-letter,
.info-block article #expirience p:first-letter {
  padding-left: 0 !important;
}
.info-block article #expirience {
  border-right: 4px solid #fff;
  padding-right: 30px;
}
.info-block article #expirience .subtitle {
  background-color: #fff;
  color: #6a8d9d;
}
.info-block article #expirience .subtitle:before {
  left: unset;
  right: -47px;
  background-color: #fff;
  border: 5px solid #6a8d9d;
}
.info-block article #expirience .subtitle:after {
  left: unset;
  right: -5px;
  background-color: #fff;
}
.info-block article #expirience p {
  color: #fff;
}
.info-block article:nth-child(even) {
  background-color: #6a8d9d;
  padding: 40px 0;
}
.info-block article:nth-child(even) h4 {
  color: #fff;
}
