body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

#js-main-menu {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
#js-main-menu a {
  color: var(--tg-theme-link-color);
}