@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap')

@font-face
	font-family: 'WildYouth'
	src: url('../font/WildYouth-Regular- new.ttf')

a, a:hover
	text-decoration: none
	color: unset

.font-montserrat
	font-family: Montserrat

.font-playfair
	font-family: 'Playfair Display'

#mobilemenu
	list-style-type: none
	background: #fff
	width: 65vw
	height: 100vh
	z-index: 1
	box-shadow: 20px 0 40px 20px #00000024
	top: 0
	margin-left: -100vw
	transition: .3s

	&.show-left
		margin-left: 0

	li:not(:last-child)
		border-bottom: 1px solid black

	#mobilemenu-close
		position: absolute
		top: 1em
		right: 1em
		width: 50px
		height: 50px

		&:after, &:before
			height: 5px
			border-radius: 100px
			background: #000
			width: 100%
			content: ''
			position: absolute
			top: calc(50% - 2.5px)

		&:after
			transform: rotate(45deg)

		&:before
			transform: rotate(-45deg)

header
	#btn-burger
		background: none
		border: none
		height: 30px
		width: 50px
		padding: 0
		position: absolute
		right: 0
		top: calc(50% - 15px)
		margin-right: 3em

		div
			position: absolute
			border-radius: 100px

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3)
				height: 5px
				width: 100%
				background: #000


			&:nth-child(1)
				top: 0

			&:nth-child(2)
				top: calc(50% - 2.5px)

			&:nth-child(3)
				bottom: 0

	menu
		li
			position: relative

			&:after
				content: ''
				height: 4px
				background: #ccc
				bottom: 0
				width: 100%
				left: 0
				position: absolute
				display: none

			&:hover:after
				display: block

.banner
	padding-bottom: 25%
	background-position: center
	background-size: cover
	min-height: 250px

main
	h2
		position: relative
		display: flex
		justify-content: center
		align-items: center

		.undercover
			position: absolute
			opacity: 0.1
			font-size: 1.5em
			font-family: WildYouth

	#description
		background: #fbf9f4

	.menu-item
		.picture
			padding-bottom: 100%
			background-size: cover
			background-position: center

		.date, .time
			font-size: .8em

footer
	background: #959595