@font-face {
	font-family: Aileron;
	src: url(../fonts/aileron/Aileron-Regular.otf);
}

body {	
	font-family: Aileron !important;
}

a {
	text-decoration: none;
	color: unset;

	&:hover {
		text-decoration: none;
		color: unset;
	}
}

.textMarkColor {
	color: #d63c37;
}

h1,
h2, {
	font-family: Caladea !important;
}

h1 {
	padding: 45px 0;
}

header,
section,
footer {
	overflow: hidden;
	min-height: 100vh;

	> .content {
		max-width: 1200px;
	}
}

header {
	background: url(../img/backgroundHead.png);
	background-size: cover;
	background-position: bottom;
	padding-top: 10%;
}

section {
	background: #f6f6f6;

	.titleImgLeft {

		> img {
			bottom: 0;
		}
	}

	.description {
		margin-top: 20%;
		margin-bottom: 20%;
	}

	.list {
		line-height: 36px;
		font-size: 18px;
		color: #666;
		letter-spacing: 0.45px;

		> div {
			margin-bottom: 50px;

			> i {
				left: -50px;
				top: 8px;
				width: 18px;
				height: 18px;
				color: #d63c37;
			}
		}
	}
}

footer {
	background: #d63c37;
	color: #333333;

	h2 {
		color: #fcfcfc;
	}

	.container-fluid {		
		margin-top: 20%;
		margin-bottom: 20%;
	}

	a {
		text-align: right;
		margin: 50px 0;

		.title {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.6px;
			line-height: 46px;
		}

		.leap {
			line-height: 36px;
			letter-spacing: 0.45px;
			font-size: 18px;
		}

		.icon {
			width: 100%;
			margin: auto;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fafafa;
			border: 5px solid #fafafa;
			border-radius: 100%;
			transition: 0.5s;

			&:before {
				content: '';
				padding-top: 100%;
				float: left;
			}
		}

		&:hover .icon {
				color: #d63c37;
				background-color: #fcfcfc;
		}
	}
}

.menu {
	position: fixed;
	right: 65px;
	top: 65px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 10;

	.burgerMenuLine {
		height: 6px;
		background-color: #333;
	}

	.burgerMenuClose {
		position: relative;
		height: 6px;

		> .burgerMenuLine {
			position: absolute;
			width: 100%;
			transition: 0.3s;
		}
	}
}

.menuScreeen {
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fffff199;
	justify-content: center;
	align-items: center;
	font-size: 18px;

	>a {		
		margin: 0 20px;

		&:hover {
			text-decoration: underline;
		}
	}
}