body {
	margin: 0;

	> * {
		height: 100vh;
	}
}

.textMarkColor {
	color: #d63c37;
}

.title {
	padding: 45px 0;
	font-family: Caladea !important;
}

.description {
	padding: 0 15px;
	font-family: Aileron !important;
	font-size: 14rem;
}

header {
	background: url(../img/backgroundHead.png);
	background-size: cover;
	background-position: bottom;
	text-align: center;

	h1 {
		font-weight: 700;
	}
}

section {
	background: #f6f6f6;
}

footer {
	background: #d63c37;
}