@font-face {
  font-family: MyriadProRegular;
  src: url(../fonts/MyriadProRegular.eot) format("embedded-opentype"), url(../fonts/MyriadProRegular.woff) format("woff"), url(../fonts/MyriadProRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: MyriadProSemiBold;
  src: url(../fonts/MyriadProSemiBold.eot) format("embedded-opentype"), url(../fonts/MyriadProSemiBold.woff) format("woff"), url(../fonts/MyriadProSemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: RaleWayThin;
  src: url(../fonts/ralewaythin.woff) format("woff"), url(../fonts/ralewaythin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: RaleWayLight;
  src: url(../fonts/ralewaylight.woff) format("woff"), url(../fonts/ralewaylight.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@keyframes updown {
  from {
    bottom: 60px;
  }
  to {
    bottom: 30px;
  }
}
.wpadminbar a {
  color: #fff;
}
.wpadminbar a:befor {
  content: none;
}
* {
  transition: 0.3s;
}
.arrow-size {
  width: 30px;
  height: 30px;
}
body {
  font-family: MyriadProRegular;
  overflow-x: hidden;
}
h1 {
  font-size: 2.3vw;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  h1 {
    font-size: 2rem;
  }
}
p,
a {
  line-height: 1.2;
  margin: 1.5rem 0;
  font-family: 'RaleWayLight';
  font-size: 1.75vw;
  text-decoration: none;
}
p:hover,
a:hover {
  text-decoration: none;
}
@media (max-width: 980px) {
  p,
  a {
    font-size: 1rem;
  }
}
b {
  font-family: MyriadProSemiBold;
}
.stub {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.stub .top {
  top: -50vh;
  top: 0;
}
.stub .bottom {
  bottom: -50vh;
  bottom: 0;
}
.stub .bottom .inside {
  top: -50vh;
}
.stub .top,
.stub .bottom {
  height: 50%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  transition: 0.3s;
}
.stub .top .inside,
.stub .bottom .inside {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stub .top .inside img,
.stub .bottom .inside img {
  max-width: 20vw;
  transition: 0.2s;
}
@media (max-width: 640px) {
  .stub .top .inside img,
  .stub .bottom .inside img {
    max-width: 70%;
  }
}
a:not(.slider-control),
.link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: -0.5em;
  padding: 0.5em;
  color: #000;
}
a:not(.slider-control):before,
.link:before {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  content: ' ';
  transition: rotate 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate(45deg);
  transform-origin: 100% 0;
  z-index: 1;
}
a:not(.slider-control):hover,
.link:hover {
  text-decoration: none;
}
a:not(.slider-control):hover:before,
.link:hover:before {
  right: 0;
  transform: rotate(0);
}
a:not(.slider-control) div,
.link div,
a:not(.slider-control) h2,
.link h2 {
  position: inherit;
  z-index: 2;
}
.aqua > h2,
.aqua > div {
  color: grey;
}
.aqua > span {
  background: grey !important;
}
.aqua:before {
  background: grey !important;
}
.aqua:hover > h2,
.aqua:hover > div {
  color: #000;
}
.aqua:hover > span {
  background: #000 !important;
}
.yellow > span {
  background: #000 !important;
}
.yellow:before {
  background: grey !important;
}
.yellow:hover > span {
  background: #000;
}
.logo {
  position: sticky !important;
  left: 5vw !important;
  text-transform: uppercase;
  top: 0;
  color: #000;
  z-index: 2;
  height: 7vh;
  margin: 0;
  font-size: 10px;
}
.logo:before {
  background: #000;
  z-index: -1 !important;
}
.logo:hover > * {
  color: grey;
}
.logo h2 {
  font-family: MyriadProSemiBold;
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 30px;
}
.logo div {
  text-align: justify;
}
.logo img {
  height: 100%;
}
@media (min-width: 980px) {
  .logo {
    height: 7vh;
  }
}
.burger-menu {
  position: fixed;
  z-index: 3;
  top: 1.2em;
  right: 1em;
  width: 3vw;
  height: 4vh;
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
}
.burger-menu > span {
  width: calc(100% - 1em);
  height: 10%;
  transition: margin 0.3s, transform 0.3s, top 0.3s, bottom 0.3s;
  background: #000;
  display: block;
  position: absolute;
}
.burger-menu > span:nth-child(1) {
  top: 0.5em;
}
.burger-menu > span:nth-child(2) {
  top: 45%;
}
.burger-menu > span:nth-child(3) {
  bottom: 0.5em;
}
.burger-menu:hover > span {
  background: grey;
}
.burger-menu:before {
  z-index: -1;
  background: #000;
}
@media (max-width: 980px) {
  .burger-menu {
    width: 50px;
    height: 40px;
    right: 0;
    top: 0;
  }
}
#top-panel {
  position: fixed;
  top: 0;
  height: 7vh;
  background: #000;
  width: 100%;
  transition: 0.35s;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  z-index: 1;
}
#top-panel a {
  margin: 0;
  margin-top: 3px;
  font-size: 1px;
  height: 4vh;
  width: 4vh;
}
#top-panel a:after {
  content: '';
  background: url(../svg/arrow-chevron--aqua.svg);
  background-size: 100%;
  transform: rotate(90deg);
  width: calc(100% - .5em);
  height: calc(100% - .5em);
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}
#top-panel a:hover:after {
  background: url(../svg/arrow-chevron--black.svg);
  background-size: 100%;
}
#slider-control--left,
#slider-control--right {
  position: fixed;
  z-index: 1;
  top: calc(50vh - 45px);
  display: flex;
  align-items: center;
  height: 90px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  background: #000;
}
#slider-control--left img,
#slider-control--right img {
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease;
}
#slider-control--left span,
#slider-control--right span {
  display: flex;
  align-self: center;
  flex-direction: column;
  transition: opacity 0.3s ease 0s;
}
#slider-control--left:after,
#slider-control--right:after {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -45px;
  content: '';
  transition: all 0.3s ease;
  border-style: solid;
}
#slider-control--left.hover,
#slider-control--right.hover {
  transform: unset;
}
#slider-control--left.hover:after,
#slider-control--right.hover:after {
  border-width: 45px 0;
}
#slider-control--left {
  left: 0;
  transform: translate(-100%);
  color: #fff;
}
#slider-control--left img {
  margin-left: 100%;
}
#slider-control--left:after {
  left: 100%;
  border-width: 45px 0 45px 45px;
  border-color: transparent transparent transparent #000;
}
#slider-control--left.hover > img {
  margin-left: calc(100% - 40px);
}
#slider-control--left span {
  padding-right: 3em;
  padding-left: 1em;
}
#slider-control--right {
  right: 0;
  transform: translate(100%);
  color: #fff;
}
#slider-control--right img {
  margin-left: -30px;
  transform: rotate(180deg);
}
#slider-control--right:after {
  right: 100%;
  border-width: 45px 45px 45px 0;
  border-color: transparent #000 transparent transparent;
}
#slider-control--right.hover > img {
  margin-left: 10px;
}
#slider-control--right span {
  padding-left: 3em;
  padding-right: 1em;
}
#main-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}
#main-slider #slider #slider-container {
  overflow: hidden;
}
#main-slider #slider #slider-container .hexaflip-side {
  background: #fff;
}
#main-slider #slider #slider-container .hexaflip-side:nth-child(5),
#main-slider #slider #slider-container .hexaflip-side:nth-child(6) {
  background: transparent !important;
}
#main-slider #slider #slider-container .hexaflip-cube.hexaflip-cube-slide {
  transition: opacity 0.5s ease, transform 1s ease, -webkit-transform 1s ease;
  transform: scale(1);
}
#main-slider #slider #slider-container .hexaflip-cube.hexaflip-cube-slide .slide-picture {
  background-blend-mode: luminosity;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center !important;
}
#main-slider #slider #slider-container .hexaflip-cube.hexaflip-cube-slide .slide-picture .slider-content {
  position: relative;
  height: 100%;
  width: 60%;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  display: flex;
  align-items: center;
  transition: none;
}
#main-slider #slider #slider-container .hexaflip-cube.hexaflip-cube-slide .slide-picture .slider-content .slider-content--background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover !important;
  background-blend-mode: luminosity;
  background-position: center !important;
  mask-image: #fff;
  background: #fff;
  top: 0;
  left: 0;
}
#main-slider #slider #slider-container .hexaflip-cube.hexaflip-cube-slide .slide-picture .slider-content .slider-content--text {
  position: absolute;
  display: inline-block;
  width: 90%;
  padding: 0 4em;
  font-size: 1rem;
}
#main-slider #slider #slider-container .hexaflip-cube.hexaflip-cube-slide .slide-picture .slider-content .slider-content--text h1 {
  font-family: MyriadProSemiBold;
  margin-bottom: 0;
}
@media (max-width: 980px) {
  #main-slider #slider #slider-container .hexaflip-cube.hexaflip-cube-slide .slide-picture .slider-content {
    height: 85%;
    width: 100%;
    clip-path: none;
    clip-path: polygon(0% 0%, 0% 100%, 400% 0, 0 0);
    transition: none;
  }
  #main-slider #slider #slider-container .hexaflip-cube.hexaflip-cube-slide .slide-picture .slider-content .slider-content--text {
    width: 100%;
  }
}
#main-slider .shadow {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s ease;
  opacity: 0;
  background: #000;
}
#main-slider #scrollPage {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 30px;
  left: calc(50vw - 30px);
  animation-duration: 1s;
  animation-name: updown;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
#main-slider #scrollPage:after {
  content: '';
  background: url(../svg/arrow-chevron--black.svg);
  background-size: 100%;
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#main-slider #scrollPage:before {
  display: none;
}
#content {
  margin-top: 100vh;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
}
#content > section {
  display: none;
}
#content > section.visible {
  display: block;
}
#content > section > div {
  max-width: 100vw;
  min-height: calc(100vh - 58px);
  background: #fff;
}
#overlay-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: transform 0.35s;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  overflow-y: scroll;
}
#overlay-menu .text {
  width: 100%;
  display: flex;
  padding: 5vw;
  height: 100%;
}
#overlay-menu .text a {
  color: #000;
  margin: 0;
  font-size: 2em;
}
#overlay-menu .text .left,
#overlay-menu .text .right {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}
#overlay-menu .text .left a {
  font-family: RaleWayLight;
}
#overlay-menu .text .right {
  font-family: RaleWayLight;
  font-size: 1.75vw;
}
#overlay-menu .text .right h1 {
  font-family: MyriadProSemiBold;
}
#overlay-menu .text .right h2 {
  font-family: RaleWayLight;
}
#overlay-menu .text .right > div {
  margin: 1em 0;
}
#overlay-menu .text .right a {
  font-size: 1em;
  margin-left: -0.5em;
}
@media (max-width: 980px) {
  #overlay-menu .text .right {
    margin: 2em 0.5em;
    font-size: 1.5em;
  }
  #overlay-menu .text .right h1 {
    font-size: 1.5em;
  }
}
.main .about_us {
  display: flex;
}
.main .about_us .text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
}
@media (max-width: 980px) {
  .main .about_us .text {
    width: 100%;
  }
}
.main .what_we_do {
  display: flex;
}
.main .what_we_do .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 4em;
}
.main .what_we_do .text div {
  display: flex;
  justify-content: space-between;
}
.main .partners {
  display: flex;
}
.main .partners .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 4em;
}
.main .partners .text div {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main .partners .text div a svg {
  width: 100%;
  height: 100%;
}
.main .partners .text div a:before {
  display: none;
}
.main .more_about_us {
  display: flex;
}
.main .more_about_us .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: end;
  padding: 4em;
}
.main .more_about_us .text h1 {
  margin-bottom: 60px;
}
.main .more_about_us .text hr {
  margin: 0.2em 0;
  background: #000;
  width: 100%;
}
.case_2 .portfolio .text,
.case_3 .portfolio .text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: RaleWayLight;
  padding: 4em;
}
@media (min-width: 980px) {
  .case_2 .portfolio .text,
  .case_3 .portfolio .text {
    font-size: 1.75vw;
  }
}
.case_2 .portfolio_screenshotes,
.case_3 .portfolio_screenshotes {
  align-items: center;
  margin: 0;
}
.case_2 .portfolio_screenshotes .text,
.case_3 .portfolio_screenshotes .text {
  padding: 4em;
}
.case_2 .portfolio_screenshotes .photos,
.case_3 .portfolio_screenshotes .photos {
  padding: 0 4em;
}
.case_2 .portfolio_screenshotes .photos img,
.case_3 .portfolio_screenshotes .photos img {
  width: 100%;
}
@media (min-width: 980px) {
  .case_2 .portfolio_screenshotes .photos,
  .case_3 .portfolio_screenshotes .photos {
    max-height: 100vh;
    perspective: 100px;
    display: flex;
    justify-content: center;
  }
  .case_2 .portfolio_screenshotes .photos div,
  .case_3 .portfolio_screenshotes .photos div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .case_2 .portfolio_screenshotes .photos div img,
  .case_3 .portfolio_screenshotes .photos div img {
    height: 30%;
    width: unset;
    box-shadow: 1px 1px 10px 2px black;
    cursor: pointer;
  }
}
.text h1 {
  font-family: MyriadProSemiBold;
}
#full-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: none;
  transition: 0.3s;
  opacity: 0;
}
#full-photo img {
  background: red;
  max-width: 90vw;
  max-height: 90vh;
  cursor: default;
}
