.slider {
  display: grid;
  grid-template-columns: 50% 50%; }
  .slider .hidden-lines {
    overflow-y: hidden;
    width: 100%; }
    .slider .hidden-lines div {
      height: 0;
      margin-top: 1.25em;
      line-height: 1.25em;
      transition: 0.5s; }
  .slider .slider-photos {
    position: relative;
    display: flex;
    justify-content: center; }
    .slider .slider-photos .slider-control--left,
    .slider .slider-photos .slider-control--right {
      background: yellow;
      border-radius: 100%;
      cursor: pointer;
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: 15%;
      z-index: 100; }
    .slider .slider-photos .slider-control--left {
      left: 0; }
    .slider .slider-photos .slider-control--right {
      right: 0; }
    .slider .slider-photos .photos-wrapper {
      width: 80%;
      height: 120%;
      display: flex;
      position: relative; }
      .slider .slider-photos .photos-wrapper .photos-row {
        width: 100%;
        display: flex;
        grid-gap: 10px;
        align-items: flex-end;
        justify-content: space-between;
        height: 400px;
        left: 0;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 0.52);
        position: relative;
        overflow: hidden;
        padding-bottom: 10%; }
        .slider .slider-photos .photos-wrapper .photos-row.trans, .slider .slider-photos .photos-wrapper .photos-row.trans label {
          transition: 0.5s; }
        .slider .slider-photos .photos-wrapper .photos-row input {
          display: none; }
          .slider .slider-photos .photos-wrapper .photos-row input:checked + label {
            min-width: calc((125% - 50px) / 5);
            height: 100%; }
            .slider .slider-photos .photos-wrapper .photos-row input:checked + label:before {
              display: none; }
            .slider .slider-photos .photos-wrapper .photos-row input:checked + label .name {
              display: none; }
        .slider .slider-photos .photos-wrapper .photos-row label {
          background: #333;
          cursor: pointer;
          min-width: calc((95% - 55px) / 5);
          height: 40%;
          margin: 0 5px;
          transition: 0.5;
          position: relative;
          transition-timing-function: cubic-bezier(0.4, 0, 1, 0.52); }
          .slider .slider-photos .photos-wrapper .photos-row label:before {
            position: absolute;
            content: "";
            opacity: 0;
            background: #ffffff42;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            transition: 0.3s; }
          .slider .slider-photos .photos-wrapper .photos-row label:hover:before {
            opacity: 1; }
          .slider .slider-photos .photos-wrapper .photos-row label:hover .name:after {
            width: 100%; }
          .slider .slider-photos .photos-wrapper .photos-row label:hover .name .hidden-lines div {
            height: 1.25em;
            margin-top: 0; }
          .slider .slider-photos .photos-wrapper .photos-row label .name {
            position: relative;
            width: 100%;
            top: 100%;
            margin-top: 1em;
            display: flex;
            align-items: center;
            text-align: left;
            flex-direction: column; }
            .slider .slider-photos .photos-wrapper .photos-row label .name:after {
              content: "";
              position: absolute;
              transition: 0.5s;
              width: 0;
              top: -0.5em;
              background: yellow;
              height: 3px; }
  .slider .slider-text:hover .hidden-lines div {
    height: 1.25em;
    margin-top: 0; }

/*# sourceMappingURL=style.css.map */
