body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

span {
	font-size: 38px;
}

#switch {
	height: 100px;
	width: 175px;
	background: red;
	border-radius: 50px;
	position: relative;
	display: flex;
	transition: .3s;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		position: absolute;
		width: 100px;
		height: 100px;
		text-align: center;
		line-height: 100px;
		z-index: 1;
		font-size: 38px;

		&:nth-child(1) {
			left: 0;
		}

		&:nth-child(2) {
			right: 0;
		}
	}

	.disc {
		background: white;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		margin: 0 10px;
		transition: left .3s;
		position: absolute;
		left: 0;
	}
}