body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  font-size: 38px;
}
#switch {
  height: 100px;
  width: 175px;
  background: red;
  border-radius: 50px;
  position: relative;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#switch span {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  z-index: 1;
  font-size: 38px;
}
#switch span:nth-child(1) {
  left: 0;
}
#switch span:nth-child(2) {
  right: 0;
}
#switch .disc {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 0 10px;
  transition: left 0.3s;
  position: absolute;
  left: 0;
}
