@font-face {
	font-family: Gotham;
	font-weight: bold;
	src: url('../font/Gotham-Font/Gotham-Bold.otf');
}

a {
	text-decoration: none;
	color: unset;

	&:hover {
		text-decoration: none;
		color: unset;
	}
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

h1, h2, h3 {
	text-align: center;
	color: #303030;
	text-transform: uppercase;
	font-family: Gotham;
}

h1 {
	font-size: 40px;
	line-height: 50px;
}

h2 {
	font-size: 30px;
}

hr {
	width: 100%;
	max-width: 240px;
	height: 3px;
	background-color: #303030;
}

p {
	font-size: 16px;
	color: #303030;
	text-align: center;
	width: 100%;
	max-width: 530px;
	margin: 0;
}

menu,
header,
section,
footer {
	display: flex;
	justify-content: center;

	> div {
		@media (min-width: 768px) {
			max-width: 930px !important;
		}
	}
}

menu {
	margin: 0;
	background: rgba(255, 255, 255, 0.90);
	position: sticky;
	top: 0;
	margin-top: 25px;
	z-index: 10;
	padding: 0 6.5px;
	line-height: 50px;

	@media (max-width: 575px) {
		margin-top: 0;
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		right: 0;
		margin-right: -100%;
		transition: .3s;

		.logo {
			font-size: 50px !important;
		}

		.menu {
			font-size: 25px;
		}
	}

	.logo {
		font-size: 25px;
		font-weight: 400;
		color: #4c4c4c;
	}

	.menu {
		text-transform: uppercase;
		color: #a7a7a7;
		display: flex;
		align-items: center;
		transition: .3s;
		text-align: right;

		.item {
			&.select,
			&:hover {
				color: #404040;
			}
		}
	}
}

header {
	margin-top: 25px;
	background: url(../img/header-bckg.png) center;
	background-position: center;
	background-size: cover;
	min-height: ~'calc(100vh - 100px)';

	@media (max-width: 540px) {
		margin-top: 0;
		height: 100vh;
	}

	p {
		font-style: italic;
		font-family: Georgia;
		line-height: 30px;
	}

	a {
		height: 50px;
		width: 50px;
		bottom: 70px;
		left: ~'calc(50% - 25px)';
		border-radius: 100%;
		background: #fff;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
    	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    	transition: .3s;

		&:hover {
    		box-shadow: 0 0 0 150px rgba(255, 255, 255, 0);
		}

		&:focus {
			outline: none;
		}

		&:before,
		&:after {
			position: absolute;
			content: ' ';
		}

		&:before {
			height: ~'calc(100% + 30px)';
			width: ~'calc(100% + 30px)';
			border-radius: 100%;
			background: rgba(255, 255, 255, 0.5);
			cursor: pointer;
			transition: .3s;
		}

		&:after {
			background: url(../img/arrowDown-main-screen.svg);
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 100%;
		}
	}
}

section {
	padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work {
	padding-bottom: 55px;

	img {
		margin: 15px 0;
		width: 100%;
	}
}

.team {
	background: #f3f3f3;
	padding-bottom: 80px;

	.our-team {
		margin-top: 35px;

		.block-our-team {
			height: 210px;
			margin: 15px 0;

			.inside {
				background: #fff;
				height: 100%;
				padding: 20px 0;
				text-align: center;
				box-shadow: 0 2px 4px rgba(0, 1, 1, 0.2);
				position: relative;

				.avatar {
					border-radius: 100%;
					width: 80px;
					height: 80px;
					border: 3px solid #ffffff;
					box-shadow: 0 2px 6px rgba(0, 1, 1, 0.75);
				}

				.name {
					text-transform: uppercase;
					color: #303030;
					font-weight: 700;
					font-family: Gotham;
					font-size: 16px;
					padding: 13px 0 5px;
				}

				.post {
					font-family: Georgia;
					font-style: italic;
					font-size: 12px;
				}

				.links {
					position: absolute;
					bottom: 20px;
					width: 100%;

					a {
						margin: 0 10px;
					}
				}
			}
		}
	}
}

.contact {
	padding-bottom: 70px;

	.map,
	.feedback {
		p {
			text-align: left;
			padding: 30px 0;
		}
	}

	.map {
		#map {
			height: 280px;
			border: 6px solid #ffffff;
			box-shadow: 0 2px 5px rgba(0, 1, 1, 0.25);
		}
	}

	.feedback {
		textarea,
		input,
		button {
			width: 100%;
		}

		textarea,
		input {
			background: #f2f2f2;
			font-family: Georgia;
			color: #5f5f5f;
			font-style: italic;
			font-size: 16px;
			border: 1px solid rgba(0, 0, 0, 0.15);
			padding: 20px 30px;
			outline: none;
			transition: .3s;

			&:focus {
				background: #fff;
			}
		}

		textarea {
			resize: none;
			height: ~'calc(100% - 190px)';
		}

		button {
			min-height: 66px;
			font-weight: 700;
			color: #fff;
			background: #6995a9;
			transition: .3s;

			&:hover {
				background: #81afc3;
			}
		}

		.send-from {
			padding-top: 30px;

			@media (max-width: 540px) {
				padding-top: 0;
			}
		}
	}
}

footer {
	background: #4f4f4f;
	color: #6e6e6e;
	padding: 36px 0 30px;

	.text-light {
		color: #949494;
	}
}