/*Reset styles*/
body,
menu
	margin: 0
	padding: 0

/*Size settings*/
body
	min-width: 100vw
	min-height: 100vh

	main,
	section
		position: absolute
		top: 0
		left: 0
		min-width: 100vw
		min-height: 100vh
		display: grid
		grid-template-rows: 100%

	main
		grid-template-columns: 50% 50%

		@media all and (orientation: portrait), all and (max-width: 480px)
			grid-template-columns: 100%
			grid-template-rows: 50%

		menu
			display: grid
			grid-template-columns: 100%
			grid-template-rows: 25%

	section
		grid-template-columns: 40% 60%

		@media all and (orientation: portrait), all and (max-width: 480px)
			grid-template-columns: 100%
			grid-template-rows: 40% 60%