@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i)

/*Reset styles*/
body
	margin: 0
	padding: 0
	font-family: Roboto
	overflow-x: hidden

menu
	margin: 0
	padding: 0

h1, h2
	font-weight: 300
	margin: 0
	margin-block-start: 0
	margin-block-end: 0
	text-transform: uppercase

h2
	@media all and (max-width: 640px)
		display: none !important

a
	text-decoration: none
	color: unset

p
	margin: 0
	text-align: justify

/*Special styles*/
.text-color
	color: #6a8d9d

/*Elements size settings*/
body
	min-width: 100vw
	min-height: 100vh

	main aside,
	section aside,
	main menu a
		position: relative

		&:after
			position: absolute
			width: 100%
			height: 100%
			background-color: #1a1b23cc
			top: 0
			left: 0
			content: ''

	main,
	section
		position: absolute
		top: 0
		left: 0
		min-width: 100vw
		max-width: 100vw
		min-height: 100vh
		overflow: hidden
		display: grid
		grid-template-rows: 100%

	main
		grid-template-columns: 50% 50%
		z-index: 2
		background: #fff
		transition: .9s

		@media all and (orientation: portrait), all and (max-width: 480px)
			grid-template-columns: 100%
			grid-template-rows: 50%

		aside,
		menu
			transition: .3s

		aside
			background-image: url('../img/arh.png')
			background-size: cover
			background-position: top
			background-repeat: no-repeat
			display: flex
			align-items: center
			justify-content: center

			.inner
				z-index: 1
				color: #fff
				text-align: center

				h1, h2
					text-transform: uppercase
					letter-spacing: 5px

				h1
					font-size: 2.5rem

				h2
					font-size: 1.5rem
					margin: 1rem 0 1.2rem
					font-weight: 300
					position: relative
					display: inline-block

					&:after
						content: ''
						position: absolute
						background: #fff
						bottom: 0
						left: -5%
						width: 110%
						height: 2px

				div
					display: flex
					justify-content: center
					margin: .65rem 0

					a
						background-size: contain
						background-repeat: no-repeat
						background-position: center
						display: inline-block
						color: #fff
						transition: .3s
						width: 3rem
						height: 3rem
						position: relative
						display: flex
						justify-content: center
						margin: 0 1rem

						&:before
							position: absolute
							bottom: -2rem
							display: none

						&[href='https://www.facebook.com/kolik29']
							background-image: url('../img/fb.svg')

							&:before
								content: 'Facebook'

						&[href='https://www.instagram.com/despersiven/']
							background-image: url('../img/instagram.svg')

							&:before
								content: 'Instagram'

						&[href='https://vk.com/despersiven']
							background-image: url('../img/vk.svg')

							&:before
								content: 'Вконтакте'

						&[href='https://web.telegram.org/@kolik29']
							background-image: url('../img/telegram.svg')

							&:before
								content: 'Telegram'

						&:hover
							color: #6a8d9d
							transition: .3s

							&:before
								display: block


							&[href='https://www.facebook.com/kolik29']
								background-image: url('../img/fb-color.svg')

							&[href='https://www.instagram.com/despersiven/']
								background-image: url('../img/instagram-color.svg')

							&[href='https://vk.com/despersiven']
								background-image: url('../img/vk-color.svg')

							&[href='https://web.telegram.org/@kolik29']
								background-image: url('../img/telegram-color.svg')

		menu
			display: grid
			grid-template-columns: 100%
			grid-template-rows: 25%

			a
				display: flex
				align-items: center

				.bkg-image
					position: absolute
					filter: saturate(0)
					background-size: 100%
					background-repeat: no-repeat
					background-position: center
					transition: .6s
					width: 100%
					height: 100%

				.title
					position: absolute
					display: flex
					z-index: 1
					color: #fff
					align-items: center
					margin-left: 10%

					@media all and (orientation: portrait), all and (max-width: 640px)
						margin-left: 5%

					.icon
						padding: 1rem
						height: 2rem
						width: 2rem
						border-radius: 100%
						background-repeat: no-repeat
						background-position: center
						background-size: 50%
						background-color: #ffffff54
						margin-right: 2rem
						box-shadow: 0 0 0 0 #ffffff54
						transition: .2s

						@media all and (orientation: portrait), all and (max-width: 640px)
							margin-right: 1rem

					.text
						display: flex
						flex-direction: column

					h1
						text-transform: uppercase
						font-weight: 300
						font-size: 2rem

					h2
						font-size: 1rem
						font-style: italic

				&:hover
					.bkg-image
						background-size: 120%

					.title .icon
						box-shadow: 0 0 0 5em #ffffff00

				&[href='#profile']
					.bkg-image
						background-image: url('../img/profile_image.jpg')

					.icon
						background-image: url('../img/user_icon.png')

				&[href='#resume']
					.bkg-image
						background-image: url('../img/resume_image.jpg')

					.icon
						background-image: url('../img/resume_icon.png')

				&[href='#portfolio']
					.bkg-image
						background-image: url('../img/portfolio_image.jpg')

					.icon
						background-image: url('../img/portfolio_icon.png')

				&[href='#contacts']
					.bkg-image
						background-image: url('../img/contact_image.jpg')

					.icon
						background-image: url('../img/contact_icon.png')

	.close
		position: fixed
		right: 2vw
		top: 2vw
		width: 2rem
		height: 2rem
		display: block
		z-index: 1

		&:after,
		&:before
			content: ''
			position: absolute
			width: 2rem
			height: 10%
			background: #333
			margin-top: 45%

		&:after
			transform: rotate(45deg)

		&:before
			transform: rotate(-45deg)

	section
		grid-template-columns: 40% 60%
		max-height: 100vh

		@media all and (orientation: portrait), all and (max-width: 480px)
			overflow-y: scroll

		aside
			background-size: cover
			background-repeat: no-repeat
			background-position: center
			position: relative
			color: #fff

			h1
				position: absolute
				z-index: 1
				font-size: 3rem
				bottom: 15%
				left: 5%
				width: 100%

				&:after
					content: ''
					height: 5px
					width: 50%
					background-color: #6a8d9d
					position: absolute
					bottom: -1.5rem
					left: 0
					z-index: 1

			&:after
				position: absolute
				width: 100%
				height: 100%
				background-color: #1a1b23cc
				top: 0
				left: 0
				content: ''

		@media all and (orientation: portrait), all and (max-width: 480px)
			grid-template-columns: 100%
			grid-template-rows: 50vh 1fr

		div
			overflow-y: auto

			@media all and (orientation: portrait), all and (max-width: 480px)
				overflow-y: unset

			article
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column

				&:first-child
					background-image: url('../img/story_bg.jpg')
					background-size: cover
					min-height: 100vh
					padding: 0 15px

					.text
						display: grid
						grid-template-columns: 152px 1fr
						grid-column-gap: 30px
						max-width: 70%

						@media all and (orientation: portrait), all and (max-width: 480px)
							grid-template-columns: 100%
							grid-row-gap: 30px
							max-width: unset

						img
							width: 100%
							border: 1px solid #6a8d9d

				h1
					font-size: 2.5rem

